# Zadanie

**W plikach iris.xls oraz iris.xlsx znajdują się te same dane można użyć dowolnego z nich.**

Kolumny przechowują następujące dane:
- sepal_length - długość działki kielicha
- sepal_width - szerokość działki kielicha
- petal_length - długość płatka
- petal_width - szerokość płatka
- species - gatunek

## Wykonaj następujące ćwiczenia:
1. Wczytaj dane z odpowiedniego arkusza w pliku do ramki `DataFrame`
2. Zmień nazwy kolumn tak, aby rozpoczynały się wielką literą i nie zawierały znaku podkreślenia.
3. Wyświel podstawowe statystki n.t. ramki danych
4. Zgrupuj dane tak po gatunku irysa (species).
5. Wyznacz maksymalną i minimalną długość płatka dla każdego gatunku.
6. Wyznacz średnią dłgość działki kielicha dla wszystkich gatunków i dla każdego z gatunków z osobna.

In [5]:
import pandas as pd

df = pd.read_excel('iris.xls', sheet_name='iris')
df = df.rename(columns={'sepal_length': 'Sepallength', 'sepal_width':'Sepalwidth', 'petal_length':'Petallength','petal_width': 'Petalwidth', 'species':'Species'})
df.describe()

       Sepallength  Sepalwidth  Petallength  Petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [8]:
print(df.groupby('Species').agg({'Sepallength': ['min','max']}))

           Sepallength
                   min  max
Species
setosa             4.3  5.8
versicolor         4.9  7.0
virginica          4.9  7.9

In [9]:
df.groupby('Species').Petalwidth.mean()

Species
setosa        0.244
versicolor    1.326
virginica     2.026
Name: Petalwidth, dtype: float64

In [10]:
df.Petalwidth.mean()

1.1986666666666672