In [1]:
import pandas as pd
import numpy as np

In [2]:
#airlines = pd.read_csv('bootcamp-katowice1/Pandas/nycflights13_airlines.csv.gz',comment='#', compression="gzip")
airlines = pd.read_csv('bootcamp-katowice1/Pandas/nycflights13_airlines.csv.gz',comment='#')
airlines

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

In [3]:
import sqlite3

In [4]:
airports = pd.read_csv('bootcamp-katowice1/Pandas/nycflights13_airports.csv.gz',comment='#')
flights = pd.read_csv('bootcamp-katowice1/Pandas/nycflights13_flights.csv.gz',comment='#')
planes = pd.read_csv('bootcamp-katowice1/Pandas/nycflights13_planes.csv.gz',comment='#')
weather = pd.read_csv('bootcamp-katowice1/Pandas/nycflights13_weather.csv.gz',comment='#')

In [5]:
con = sqlite3.connect('nycflights13.db')

planes.to_sql("planes", con, if_exists="replace")
airlines.to_sql("airlines", con, if_exists="replace")
flights.to_sql("flights", con, if_exists="replace")
airports.to_sql("airports", con, if_exists="replace")
weather.to_sql("weather", con, if_exists="replace")

In [6]:
sql_result = pd.read_sql_query("SELECT DISTINCT engine FROM planes",con)
sql_result

          engine
0      Turbo-fan
1      Turbo-jet
2  Reciprocating
3        4 Cycle
4    Turbo-shaft
5     Turbo-prop

In [7]:
pd.DataFrame(planes.engine.unique())

               0
0      Turbo-fan
1      Turbo-jet
2  Reciprocating
3        4 Cycle
4    Turbo-shaft
5     Turbo-prop

In [8]:
pd.read_sql_query("SELECT DISTINCT type, manufacturer FROM planes",con)

                        type                   manufacturer
0    Fixed wing multi engine                        EMBRAER
1    Fixed wing multi engine               AIRBUS INDUSTRIE
2    Fixed wing multi engine                         BOEING
3    Fixed wing multi engine                         AIRBUS
4    Fixed wing multi engine                 BOMBARDIER INC
5   Fixed wing single engine                         CESSNA
6    Fixed wing multi engine                         CESSNA
7   Fixed wing single engine                    JOHN G HESS
8    Fixed wing multi engine           GULFSTREAM AEROSPACE
9                 Rotorcraft                       SIKORSKY
10   Fixed wing multi engine                          PIPER
11                Rotorcraft                     AGUSTA SPA
12  Fixed wing single engine                          PIPER
13  Fixed wing single engine                    PAIR MIKE E
14   Fixed wing multi engine                        DOUGLAS
15   Fixed wing multi engine                          BEECH
16                Rotorcraft                           BELL
17  Fixed wing single engine             AVIAT AIRCRAFT INC
18  Fixed wing single engine                   STEWART MACO
19   Fixed wing multi engine                    LEARJET INC
20   Fixed wing multi engine              MCDONNELL DOUGLAS
21  Fixed wing single engine             CIRRUS DESIGN CORP
22  Fixed wing single engine             HURLEY JAMES LARRY
23  Fixed wing single engine                   KILDALL GARY
24  Fixed wing single engine                LAMBERT RICHARD
25  Fixed wing single engine                  BARKER JACK L
26  Fixed wing single engine          AMERICAN AIRCRAFT INC
27                Rotorcraft         ROBINSON HELICOPTER CO
28  Fixed wing single engine                 FRIEDEMANN JON
29  Fixed wing single engine                LEBLANC GLENN T
30  Fixed wing single engine                     MARZ BARRY
31  Fixed wing single engine                    DEHAVILLAND
32   Fixed wing multi engine                       CANADAIR
33   Fixed wing multi engine                   CANADAIR LTD
34   Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION
35   Fixed wing multi engine  MCDONNELL DOUGLAS AIRCRAFT CO
36   Fixed wing multi engine         AVIONS MARCEL DASSAULT

In [9]:
planes[['type', 'manufacturer']].drop_duplicates().reset_index(drop=True)

                        type                   manufacturer
0    Fixed wing multi engine                        EMBRAER
1    Fixed wing multi engine               AIRBUS INDUSTRIE
2    Fixed wing multi engine                         BOEING
3    Fixed wing multi engine                         AIRBUS
4    Fixed wing multi engine                 BOMBARDIER INC
5   Fixed wing single engine                         CESSNA
6    Fixed wing multi engine                         CESSNA
7   Fixed wing single engine                    JOHN G HESS
8    Fixed wing multi engine           GULFSTREAM AEROSPACE
9                 Rotorcraft                       SIKORSKY
10   Fixed wing multi engine                          PIPER
11                Rotorcraft                     AGUSTA SPA
12  Fixed wing single engine                          PIPER
13  Fixed wing single engine                    PAIR MIKE E
14   Fixed wing multi engine                        DOUGLAS
15   Fixed wing multi engine                          BEECH
16                Rotorcraft                           BELL
17  Fixed wing single engine             AVIAT AIRCRAFT INC
18  Fixed wing single engine                   STEWART MACO
19   Fixed wing multi engine                    LEARJET INC
20   Fixed wing multi engine              MCDONNELL DOUGLAS
21  Fixed wing single engine             CIRRUS DESIGN CORP
22  Fixed wing single engine             HURLEY JAMES LARRY
23  Fixed wing single engine                   KILDALL GARY
24  Fixed wing single engine                LAMBERT RICHARD
25  Fixed wing single engine                  BARKER JACK L
26  Fixed wing single engine          AMERICAN AIRCRAFT INC
27                Rotorcraft         ROBINSON HELICOPTER CO
28  Fixed wing single engine                 FRIEDEMANN JON
29  Fixed wing single engine                LEBLANC GLENN T
30  Fixed wing single engine                     MARZ BARRY
31  Fixed wing single engine                    DEHAVILLAND
32   Fixed wing multi engine                       CANADAIR
33   Fixed wing multi engine                   CANADAIR LTD
34   Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION
35   Fixed wing multi engine  MCDONNELL DOUGLAS AIRCRAFT CO
36   Fixed wing multi engine         AVIONS MARCEL DASSAULT

In [10]:
pd.read_sql_query("SELECT COUNT(*), engine FROM planes GROUP BY engine",con)

   COUNT(*)         engine
0         2        4 Cycle
1        28  Reciprocating
2      2750      Turbo-fan
3       535      Turbo-jet
4         2     Turbo-prop
5         5    Turbo-shaft

In [11]:
pd.DataFrame(planes.engine.value_counts().sort_index()).reset_index().rename({"index":"engine", "engine":"COUNT(*)"},axis=1)[['COUNT(*)','engine']]

   COUNT(*)         engine
0         2        4 Cycle
1        28  Reciprocating
2      2750      Turbo-fan
3       535      Turbo-jet
4         2     Turbo-prop
5         5    Turbo-shaft

In [12]:
pd.pivot_table(planes[['engine']],columns=['engine'], aggfunc='count')

Empty DataFrame
Columns: []
Index: []

In [13]:
pd.DataFrame(planes.groupby('engine').size())

                  0
engine
4 Cycle           2
Reciprocating    28
Turbo-fan      2750
Turbo-jet       535
Turbo-prop        2
Turbo-shaft       5

In [14]:
pd.read_sql_query('SELECT COUNT(*), engine, type FROM planes GROUP BY engine, type',con)

   COUNT(*)         engine                      type
0         2        4 Cycle  Fixed wing single engine
1         5  Reciprocating   Fixed wing multi engine
2        23  Reciprocating  Fixed wing single engine
3      2750      Turbo-fan   Fixed wing multi engine
4       535      Turbo-jet   Fixed wing multi engine
5         2     Turbo-prop   Fixed wing multi engine
6         5    Turbo-shaft                Rotorcraft

In [15]:
pd.DataFrame(planes.groupby(['engine','type']).size())\
                    .reset_index().rename({0:'COUNT(*)'},axis=1)[['COUNT(*)','engine','type']]

   COUNT(*)         engine                      type
0         2        4 Cycle  Fixed wing single engine
1         5  Reciprocating   Fixed wing multi engine
2        23  Reciprocating  Fixed wing single engine
3      2750      Turbo-fan   Fixed wing multi engine
4       535      Turbo-jet   Fixed wing multi engine
5         2     Turbo-prop   Fixed wing multi engine
6         5    Turbo-shaft                Rotorcraft

In [16]:
pd.read_sql_query("SELECT MIN(year), AVG(year), MAX(year), engine, manufacturer FROM planes GROUP BY engine, manufacturer",con)

,MIN(year),AVG(year),MAX(year),engine,manufacturer
0,1975.0,1975.000000,1975.0,4 Cycle,CESSNA
1,NaN,NaN,NaN,4 Cycle,JOHN G HESS
2,NaN,NaN,NaN,Reciprocating,AMERICAN AIRCRAFT INC
3,2007.0,2007.000000,2007.0,Reciprocating,AVIAT AIRCRAFT INC
4,NaN,NaN,NaN,Reciprocating,BARKER JACK L
5,1959.0,1971.142857,1983.0,Reciprocating,CESSNA
6,2007.0,2007.000000,2007.0,Reciprocating,CIRRUS DESIGN CORP
7,1959.0,1959.000000,1959.0,Reciprocating,DEHAVILLAND
8,1956.0,1956.000000,1956.0,Reciprocating,DOUGLAS
9,2007.0,2007.000000,2007.0,Reciprocating,FRIEDEMANN JON
10,NaN,NaN,NaN,Reciprocating,HURLEY JAMES LARRY
11,1985.0,1985.000000,1985.0,Reciprocating,KILDALL GARY
12,NaN,NaN,NaN,Reciprocating,LAMBERT RICHARD
13,1985.0,1985.000000,1985.0,Reciprocating,LEBLANC GLENN T
14,1993.0,1993.000000,1993.0,Reciprocating,MARZ BARRY
15,NaN,NaN,NaN,Reciprocating,PAIR MIKE E
16,1968.0,1976.400000,1980.0,Reciprocating,PIPER
17,1985.0,1985.000000,1985.0,Reciprocating,STEWART MACO
18,2002.0,2007.281734,2013.0,Turbo-fan,AIRBUS
19,1992.0,1998.599251,2013.0,Turbo-fan,AIRBUS INDUSTRIE
20,1986.0,1986.000000,1986.0,Turbo-fan,AVIONS MARCEL DASSAULT
21,1965.0,2001.210400,2013.0,Turbo-fan,BOEING
22,1998.0,2004.486188,2013.0,Turbo-fan,BOMBARDIER INC
23,1997.0,1997.333333,1998.0,Turbo-fan,CANADAIR
24,1979.0,1979.000000,1979.0,Turbo-fan,CESSNA
25,1998.0,2003.613014,2013.0,Turbo-fan,EMBRAER
26,1992.0,1992.000000,1992.0,Turbo-fan,GULFSTREAM AEROSPACE
27,NaN,NaN,NaN,Turbo-fan,LEARJET INC
28,1986.0,1989.704545,1997.0,Turbo-fan,MCDONNELL DOUGLAS
29,1987.0,1989.737864,1993.0,Turbo-fan,MCDONNELL DOUGLAS AIRCRAFT CO
30,2002.0,2002.000000,2002.0,Turbo-jet,AIRBUS
31,1989.0,1997.439024,2004.0,Turbo-jet,AIRBUS INDUSTRIE
32,1984.0,1996.368272,2005.0,Turbo-jet,BOEING
33,1974.0,1974.000000,1974.0,Turbo-jet,CANADAIR LTD
34,1999.0,1999.000000,1999.0,Turbo-jet,EMBRAER
35,1976.0,1976.000000,1976.0,Turbo-jet,GULFSTREAM AEROSPACE
36,1975.0,1990.714286,1998.0,Turbo-jet,MCDONNELL DOUGLAS
37,1991.0,1991.928571,1992.0,Turbo-jet,MCDONNELL DOUGLAS CORPORATION
38,1967.0,1969.500000,1972.0,Turbo-prop,BEECH
39,2001.0,2001.000000,2001.0,Turbo-shaft,AGUSTA SPA
40,1975.0,1984.500000,1994.0,Turbo-shaft,BELL
41,2012.0,2012.000000,2012.0,Turbo-shaft,ROBINSON HELICOPTER CO
42,1985.0,1985.000000,1985.0,Turbo-shaft,SIKORSKY

In [17]:
planes.groupby(['engine', 'manufacturer'])['year'].agg(['min', 'mean','max']).reset_index()[['min','mean','max','engine','manufacturer']]

       min         mean     max         engine                   manufacturer
0   1975.0  1975.000000  1975.0        4 Cycle                         CESSNA
1      NaN          NaN     NaN        4 Cycle                    JOHN G HESS
2      NaN          NaN     NaN  Reciprocating          AMERICAN AIRCRAFT INC
3   2007.0  2007.000000  2007.0  Reciprocating             AVIAT AIRCRAFT INC
4      NaN          NaN     NaN  Reciprocating                  BARKER JACK L
5   1959.0  1971.142857  1983.0  Reciprocating                         CESSNA
6   2007.0  2007.000000  2007.0  Reciprocating             CIRRUS DESIGN CORP
7   1959.0  1959.000000  1959.0  Reciprocating                    DEHAVILLAND
8   1956.0  1956.000000  1956.0  Reciprocating                        DOUGLAS
9   2007.0  2007.000000  2007.0  Reciprocating                 FRIEDEMANN JON
10     NaN          NaN     NaN  Reciprocating             HURLEY JAMES LARRY
11  1985.0  1985.000000  1985.0  Reciprocating                   KILDALL GARY
12     NaN          NaN     NaN  Reciprocating                LAMBERT RICHARD
13  1985.0  1985.000000  1985.0  Reciprocating                LEBLANC GLENN T
14  1993.0  1993.000000  1993.0  Reciprocating                     MARZ BARRY
15     NaN          NaN     NaN  Reciprocating                    PAIR MIKE E
16  1968.0  1976.400000  1980.0  Reciprocating                          PIPER
17  1985.0  1985.000000  1985.0  Reciprocating                   STEWART MACO
18  2002.0  2007.281734  2013.0      Turbo-fan                         AIRBUS
19  1992.0  1998.599251  2013.0      Turbo-fan               AIRBUS INDUSTRIE
20  1986.0  1986.000000  1986.0      Turbo-fan         AVIONS MARCEL DASSAULT
21  1965.0  2001.210400  2013.0      Turbo-fan                         BOEING
22  1998.0  2004.486188  2013.0      Turbo-fan                 BOMBARDIER INC
23  1997.0  1997.333333  1998.0      Turbo-fan                       CANADAIR
24  1979.0  1979.000000  1979.0      Turbo-fan                         CESSNA
25  1998.0  2003.613014  2013.0      Turbo-fan                        EMBRAER
26  1992.0  1992.000000  1992.0      Turbo-fan           GULFSTREAM AEROSPACE
27     NaN          NaN     NaN      Turbo-fan                    LEARJET INC
28  1986.0  1989.704545  1997.0      Turbo-fan              MCDONNELL DOUGLAS
29  1987.0  1989.737864  1993.0      Turbo-fan  MCDONNELL DOUGLAS AIRCRAFT CO
30  2002.0  2002.000000  2002.0      Turbo-jet                         AIRBUS
31  1989.0  1997.439024  2004.0      Turbo-jet               AIRBUS INDUSTRIE
32  1984.0  1996.368272  2005.0      Turbo-jet                         BOEING
33  1974.0  1974.000000  1974.0      Turbo-jet                   CANADAIR LTD
34  1999.0  1999.000000  1999.0      Turbo-jet                        EMBRAER
35  1976.0  1976.000000  1976.0      Turbo-jet           GULFSTREAM AEROSPACE
36  1975.0  1990.714286  1998.0      Turbo-jet              MCDONNELL DOUGLAS
37  1991.0  1991.928571  1992.0      Turbo-jet  MCDONNELL DOUGLAS CORPORATION
38  1967.0  1969.500000  1972.0     Turbo-prop                          BEECH
39  2001.0  2001.000000  2001.0    Turbo-shaft                     AGUSTA SPA
40  1975.0  1984.500000  1994.0    Turbo-shaft                           BELL
41  2012.0  2012.000000  2012.0    Turbo-shaft         ROBINSON HELICOPTER CO
42  1985.0  1985.000000  1985.0    Turbo-shaft                       SIKORSKY

In [18]:
planes.groupby(['engine', 'manufacturer']).agg({'year':['min', 'mean','max']}).reset_index()

           engine                   manufacturer    year
                                                     min         mean     max
0         4 Cycle                         CESSNA  1975.0  1975.000000  1975.0
1         4 Cycle                    JOHN G HESS     NaN          NaN     NaN
2   Reciprocating          AMERICAN AIRCRAFT INC     NaN          NaN     NaN
3   Reciprocating             AVIAT AIRCRAFT INC  2007.0  2007.000000  2007.0
4   Reciprocating                  BARKER JACK L     NaN          NaN     NaN
5   Reciprocating                         CESSNA  1959.0  1971.142857  1983.0
6   Reciprocating             CIRRUS DESIGN CORP  2007.0  2007.000000  2007.0
7   Reciprocating                    DEHAVILLAND  1959.0  1959.000000  1959.0
8   Reciprocating                        DOUGLAS  1956.0  1956.000000  1956.0
9   Reciprocating                 FRIEDEMANN JON  2007.0  2007.000000  2007.0
10  Reciprocating             HURLEY JAMES LARRY     NaN          NaN     NaN
11  Reciprocating                   KILDALL GARY  1985.0  1985.000000  1985.0
12  Reciprocating                LAMBERT RICHARD     NaN          NaN     NaN
13  Reciprocating                LEBLANC GLENN T  1985.0  1985.000000  1985.0
14  Reciprocating                     MARZ BARRY  1993.0  1993.000000  1993.0
15  Reciprocating                    PAIR MIKE E     NaN          NaN     NaN
16  Reciprocating                          PIPER  1968.0  1976.400000  1980.0
17  Reciprocating                   STEWART MACO  1985.0  1985.000000  1985.0
18      Turbo-fan                         AIRBUS  2002.0  2007.281734  2013.0
19      Turbo-fan               AIRBUS INDUSTRIE  1992.0  1998.599251  2013.0
20      Turbo-fan         AVIONS MARCEL DASSAULT  1986.0  1986.000000  1986.0
21      Turbo-fan                         BOEING  1965.0  2001.210400  2013.0
22      Turbo-fan                 BOMBARDIER INC  1998.0  2004.486188  2013.0
23      Turbo-fan                       CANADAIR  1997.0  1997.333333  1998.0
24      Turbo-fan                         CESSNA  1979.0  1979.000000  1979.0
25      Turbo-fan                        EMBRAER  1998.0  2003.613014  2013.0
26      Turbo-fan           GULFSTREAM AEROSPACE  1992.0  1992.000000  1992.0
27      Turbo-fan                    LEARJET INC     NaN          NaN     NaN
28      Turbo-fan              MCDONNELL DOUGLAS  1986.0  1989.704545  1997.0
29      Turbo-fan  MCDONNELL DOUGLAS AIRCRAFT CO  1987.0  1989.737864  1993.0
30      Turbo-jet                         AIRBUS  2002.0  2002.000000  2002.0
31      Turbo-jet               AIRBUS INDUSTRIE  1989.0  1997.439024  2004.0
32      Turbo-jet                         BOEING  1984.0  1996.368272  2005.0
33      Turbo-jet                   CANADAIR LTD  1974.0  1974.000000  1974.0
34      Turbo-jet                        EMBRAER  1999.0  1999.000000  1999.0
35      Turbo-jet           GULFSTREAM AEROSPACE  1976.0  1976.000000  1976.0
36      Turbo-jet              MCDONNELL DOUGLAS  1975.0  1990.714286  1998.0
37      Turbo-jet  MCDONNELL DOUGLAS CORPORATION  1991.0  1991.928571  1992.0
38     Turbo-prop                          BEECH  1967.0  1969.500000  1972.0
39    Turbo-shaft                     AGUSTA SPA  2001.0  2001.000000  2001.0
40    Turbo-shaft                           BELL  1975.0  1984.500000  1994.0
41    Turbo-shaft         ROBINSON HELICOPTER CO  2012.0  2012.000000  2012.0
42    Turbo-shaft                       SIKORSKY  1985.0  1985.000000  1985.0

In [19]:
pd.isnull(planes.speed)

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
        ...
3292    True
3293    True
3294    True
3295    True
3296    True
3297    True
3298    True
3299    True
3300    True
3301    True
3302    True
3303    True
3304    True
3305    True
3306    True
3307    True
3308    True
3309    True
3310    True
3311    True
3312    True
3313    True
3314    True
3315    True
3316    True
3317    True
3318    True
3319    True
3320    True
3321    True
Name: speed, Length: 3322, dtype: bool

In [20]:
pd.read_sql_query("SELECT tailnum FROM planes WHERE year >= 2010",con)

    tailnum
0    N127UW
1    N128UW
2    N150UW
3    N151UW
4    N152UW
5    N153UW
6    N154UW
7    N155UW
8    N156UW
9    N157UW
10   N198UW
11   N199UW
12   N205FR
13   N206FR
14   N207FR
15   N208FR
16   N20904
17   N209FR
18   N210FR
19   N211FR
20   N213FR
21   N214FR
22   N216FR
23   N26906
24   N272PQ
25   N27477
26   N27901
27   N279PQ
28   N28457
29   N28478
..      ...
271  N913JB
272  N943WN
273  N944WN
274  N945WN
275  N946WN
276  N947WN
277  N948WN
278  N949WN
279  N950WN
280  N951WN
281  N952FR
282  N952WN
283  N953FR
284  N953WN
285  N954WN
286  N955WN
287  N956WN
288  N957WN
289  N958WN
290  N959WN
291  N960WN
292  N961WN
293  N962WN
294  N963WN
295  N964WN
296  N965WN
297  N966WN
298  N967WN
299  N968WN
300  N969WN

[301 rows x 1 columns]

In [21]:
planes[planes.year>=2010][['tailnum']].reset_index(drop=True)

    tailnum
0    N127UW
1    N128UW
2    N150UW
3    N151UW
4    N152UW
5    N153UW
6    N154UW
7    N155UW
8    N156UW
9    N157UW
10   N198UW
11   N199UW
12   N205FR
13   N206FR
14   N207FR
15   N208FR
16   N20904
17   N209FR
18   N210FR
19   N211FR
20   N213FR
21   N214FR
22   N216FR
23   N26906
24   N272PQ
25   N27477
26   N27901
27   N279PQ
28   N28457
29   N28478
..      ...
271  N913JB
272  N943WN
273  N944WN
274  N945WN
275  N946WN
276  N947WN
277  N948WN
278  N949WN
279  N950WN
280  N951WN
281  N952FR
282  N952WN
283  N953FR
284  N953WN
285  N954WN
286  N955WN
287  N956WN
288  N957WN
289  N958WN
290  N959WN
291  N960WN
292  N961WN
293  N962WN
294  N963WN
295  N964WN
296  N965WN
297  N966WN
298  N967WN
299  N968WN
300  N969WN

[301 rows x 1 columns]

In [22]:
pd.read_sql_query("SELECT tailnum FROM planes WHERE seats BETWEEN 100 and 200 LIMIT 20",con)

   tailnum
0   N102UW
1   N103US
2   N104UW
3   N105UW
4   N107US
5   N108UW
6   N109UW
7   N110UW
8   N111US
9   N11206
10  N112US
11  N113UW
12  N114UW
13  N117UW
14  N118US
15  N119US
16  N12109
17  N12114
18  N12116
19  N12125

In [23]:
planes[planes.seats.between(100,200)].head(20)[['tailnum']]

   tailnum
1   N102UW
2   N103US
3   N104UW
5   N105UW
6   N107US
7   N108UW
8   N109UW
9   N110UW
33  N111US
34  N11206
35  N112US
36  N113UW
37  N114UW
46  N117UW
47  N118US
48  N119US
51  N12109
52  N12114
53  N12116
55  N12125

In [24]:
pd.read_sql_query('SELECT * FROM planes WHERE manufacturer IN ("BOEING", "AIRBUS", "EMBRAER")',con)

,index,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
1,4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,None,Turbo-fan
2,10,N11106,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
3,11,N11107,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
4,12,N11109,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
5,13,N11113,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
6,14,N11119,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
7,15,N11121,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
8,16,N11127,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
9,17,N11137,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
10,18,N11140,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
11,19,N11150,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
12,20,N11155,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
13,21,N11164,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
14,22,N11165,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
15,23,N11176,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
16,24,N11181,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
17,25,N11184,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
18,26,N11187,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
19,27,N11189,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
20,28,N11191,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
21,29,N11192,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
22,30,N11193,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
23,31,N11194,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
24,32,N11199,2006.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,None,Turbo-fan
25,34,N11206,2000.0,Fixed wing multi engine,BOEING,737-824,2,149,None,Turbo-fan
26,38,N11535,2001.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,None,Turbo-fan
27,39,N11536,2001.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,None,Turbo-fan
28,40,N11539,2001.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,None,Turbo-fan
29,41,N11544,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,None,Turbo-fan
...,...,...,...,...,...,...,...,...,...,...
2235,3259,N968AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2236,3261,N968WN,2011.0,Fixed wing multi engine,BOEING,737-7H4,2,140,None,Turbo-fan
2237,3262,N969AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2238,3264,N969WN,2011.0,Fixed wing multi engine,BOEING,737-7H4,2,140,None,Turbo-fan
2239,3265,N970AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2240,3267,N971AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2241,3269,N972AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2242,3272,N974AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2243,3274,N975AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2244,3277,N977AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2245,3279,N978AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2246,3282,N979AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2247,3284,N980AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2248,3286,N981AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2249,3288,N982AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2250,3290,N983AT,NaN,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2251,3293,N985AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2252,3295,N986AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2253,3297,N987AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2254,3299,N988AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2255,3301,N989AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2256,3303,N990AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2257,3305,N991AT,NaN,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2258,3307,N992AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2259,3309,N993AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2260,3311,N994AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2261,3313,N995AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2262,3315,N996AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2263,3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan
2264,3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,None,Turbo-fan

In [25]:
planes[planes.manufacturer.isin(["BOEING", "AIRBUS", "EMBRAER"])].reset_index()

,index,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
2,10,N11106,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
3,11,N11107,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
4,12,N11109,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
5,13,N11113,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
6,14,N11119,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
7,15,N11121,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
8,16,N11127,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
9,17,N11137,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
10,18,N11140,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
11,19,N11150,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
12,20,N11155,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
13,21,N11164,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
14,22,N11165,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
15,23,N11176,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
16,24,N11181,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
17,25,N11184,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
18,26,N11187,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
19,27,N11189,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
20,28,N11191,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
21,29,N11192,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
22,30,N11193,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
23,31,N11194,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
24,32,N11199,2006.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
25,34,N11206,2000.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
26,38,N11535,2001.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
27,39,N11536,2001.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
28,40,N11539,2001.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
29,41,N11544,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...,...
2235,3259,N968AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2236,3261,N968WN,2011.0,Fixed wing multi engine,BOEING,737-7H4,2,140,NaN,Turbo-fan
2237,3262,N969AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2238,3264,N969WN,2011.0,Fixed wing multi engine,BOEING,737-7H4,2,140,NaN,Turbo-fan
2239,3265,N970AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2240,3267,N971AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2241,3269,N972AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2242,3272,N974AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2243,3274,N975AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2244,3277,N977AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2245,3279,N978AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2246,3282,N979AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2247,3284,N980AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2248,3286,N981AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2249,3288,N982AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2250,3290,N983AT,NaN,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2251,3293,N985AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2252,3295,N986AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2253,3297,N987AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2254,3299,N988AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2255,3301,N989AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2256,3303,N990AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2257,3305,N991AT,NaN,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2258,3307,N992AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2259,3309,N993AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2260,3311,N994AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2261,3313,N995AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2262,3315,N996AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2263,3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
2264,3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan

In [26]:
planes[planes.manufacturer.isin(["BOEING", "AIRBUS", "EMBRAER"]) & (planes.seats > 300)].reset_index()

,index,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,49,N1200K,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
1,50,N1201P,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
2,69,N121DE,1987.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
3,117,N136DL,1991.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
4,122,N137DL,1991.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
5,183,N143DA,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
6,241,N1602,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
7,242,N1603,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
8,243,N1604R,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
9,244,N1605,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
10,245,N16065,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
11,246,N1607B,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
12,247,N1608,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
13,248,N1609,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
14,249,N1610D,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
15,251,N1611B,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
16,252,N1612T,2001.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
17,253,N1613B,2001.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
18,293,N169DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
19,312,N171DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
20,313,N171DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
21,319,N172DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
22,320,N172DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
23,323,N173DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
24,326,N174DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
25,327,N174DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
26,331,N175DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
27,332,N175DZ,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
28,334,N176DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
29,335,N176DZ,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...,...
163,2062,N661UA,1993.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
164,2071,N663UA,1993.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
165,2074,N664UA,1998.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
166,2078,N665UA,1998.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
167,2081,N666UA,1998.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
168,2084,N667UA,1998.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
169,2089,N668UA,1999.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
170,2093,N669UA,1999.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
171,2108,N670UA,NaN,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
172,2109,N670US,1990.0,Fixed wing multi engine,BOEING,747-451,4,450,NaN,Turbo-jet
173,2120,N671UA,1999.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
174,2123,N672UA,1999.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
175,2126,N673UA,2000.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
176,2128,N674UA,2000.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
177,2132,N675UA,2000.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
178,2136,N676UA,2001.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
179,2138,N677UA,2001.0,Fixed wing multi engine,BOEING,767-322,2,330,NaN,Turbo-fan
180,2441,N77012,1999.0,Fixed wing multi engine,BOEING,777-224,2,400,NaN,Turbo-fan
181,2485,N777UA,1995.0,Fixed wing multi engine,BOEING,777-222,2,400,NaN,Turbo-fan
182,2494,N78003,1998.0,Fixed wing multi engine,BOEING,777-224,2,400,NaN,Turbo-fan
183,2495,N78013,1999.0,Fixed wing multi engine,BOEING,777-224,2,400,NaN,Turbo-fan
184,2519,N787UA,1997.0,Fixed wing multi engine,BOEING,777-222,2,400,NaN,Turbo-fan
185,2567,N809NW,2005.0,Fixed wing multi engine,AIRBUS,A330-323,2,379,NaN,Turbo-fan
186,2764,N854NW,2004.0,Fixed wing multi engine,AIRBUS,A330-223,3,379,NaN,Turbo-fan
187,2771,N856NW,2004.0,Fixed wing multi engine,AIRBUS,A330-223,3,379,NaN,Turbo-fan
188,2804,N862DA,1999.0,Fixed wing multi engine,BOEING,777-232,2,400,NaN,Turbo-jet
189,2806,N863DA,1999.0,Fixed wing multi engine,BOEING,777-232,2,400,NaN,Turbo-jet
190,2809,N865DA,1999.0,Fixed wing multi engine,BOEING,777-232,2,400,NaN,Turbo-jet
191,2919,N903JB,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,NaN,Turbo-fan
192,2982,N913JB,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,NaN,Turbo-fan

In [27]:
pd.read_sql_query('SELECT * FROM planes WHERE manufacturer IN ("BOEING", "AIRBUS", "EMBRAER") AND seats>300',con)

,index,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,49,N1200K,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
1,50,N1201P,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
2,69,N121DE,1987.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
3,117,N136DL,1991.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
4,122,N137DL,1991.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
5,183,N143DA,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
6,241,N1602,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
7,242,N1603,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
8,243,N1604R,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
9,244,N1605,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
10,245,N16065,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
11,246,N1607B,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
12,247,N1608,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
13,248,N1609,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
14,249,N1610D,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
15,251,N1611B,2000.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
16,252,N1612T,2001.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
17,253,N1613B,2001.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
18,293,N169DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
19,312,N171DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
20,313,N171DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
21,319,N172DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
22,320,N172DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
23,323,N173DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
24,326,N174DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
25,327,N174DZ,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
26,331,N175DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
27,332,N175DZ,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
28,334,N176DN,1990.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
29,335,N176DZ,1999.0,Fixed wing multi engine,BOEING,767-332,2,330,None,Turbo-fan
...,...,...,...,...,...,...,...,...,...,...
163,2062,N661UA,1993.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
164,2071,N663UA,1993.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
165,2074,N664UA,1998.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
166,2078,N665UA,1998.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
167,2081,N666UA,1998.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
168,2084,N667UA,1998.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
169,2089,N668UA,1999.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
170,2093,N669UA,1999.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
171,2108,N670UA,NaN,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
172,2109,N670US,1990.0,Fixed wing multi engine,BOEING,747-451,4,450,None,Turbo-jet
173,2120,N671UA,1999.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
174,2123,N672UA,1999.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
175,2126,N673UA,2000.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
176,2128,N674UA,2000.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
177,2132,N675UA,2000.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
178,2136,N676UA,2001.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
179,2138,N677UA,2001.0,Fixed wing multi engine,BOEING,767-322,2,330,None,Turbo-fan
180,2441,N77012,1999.0,Fixed wing multi engine,BOEING,777-224,2,400,None,Turbo-fan
181,2485,N777UA,1995.0,Fixed wing multi engine,BOEING,777-222,2,400,None,Turbo-fan
182,2494,N78003,1998.0,Fixed wing multi engine,BOEING,777-224,2,400,None,Turbo-fan
183,2495,N78013,1999.0,Fixed wing multi engine,BOEING,777-224,2,400,None,Turbo-fan
184,2519,N787UA,1997.0,Fixed wing multi engine,BOEING,777-222,2,400,None,Turbo-fan
185,2567,N809NW,2005.0,Fixed wing multi engine,AIRBUS,A330-323,2,379,None,Turbo-fan
186,2764,N854NW,2004.0,Fixed wing multi engine,AIRBUS,A330-223,3,379,None,Turbo-fan
187,2771,N856NW,2004.0,Fixed wing multi engine,AIRBUS,A330-223,3,379,None,Turbo-fan
188,2804,N862DA,1999.0,Fixed wing multi engine,BOEING,777-232,2,400,None,Turbo-jet
189,2806,N863DA,1999.0,Fixed wing multi engine,BOEING,777-232,2,400,None,Turbo-jet
190,2809,N865DA,1999.0,Fixed wing multi engine,BOEING,777-232,2,400,None,Turbo-jet
191,2919,N903JB,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan
192,2982,N913JB,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan

In [28]:
pd.read_sql_query('SELECT manufacturer, COUNT(*) FROM planes WHERE seats > 200 GROUP BY manufacturer',con)

       manufacturer  COUNT(*)
0            AIRBUS        66
1  AIRBUS INDUSTRIE         4
2            BOEING       225

In [29]:
pd.DataFrame(planes[planes.seats >200].groupby(planes.manufacturer).size()).reset_index().rename({0:"COUNT(*)"},axis=1)

       manufacturer  COUNT(*)
0            AIRBUS        66
1  AIRBUS INDUSTRIE         4
2            BOEING       225

In [30]:
pd.read_sql_query('SELECT manufacturer, COUNT(*) FROM planes GROUP BY manufacturer',con)

                     manufacturer  COUNT(*)
0                      AGUSTA SPA         1
1                          AIRBUS       336
2                AIRBUS INDUSTRIE       400
3           AMERICAN AIRCRAFT INC         2
4              AVIAT AIRCRAFT INC         1
5          AVIONS MARCEL DASSAULT         1
6                   BARKER JACK L         1
7                           BEECH         2
8                            BELL         2
9                          BOEING      1630
10                 BOMBARDIER INC       368
11                       CANADAIR         9
12                   CANADAIR LTD         1
13                         CESSNA         9
14             CIRRUS DESIGN CORP         1
15                    DEHAVILLAND         1
16                        DOUGLAS         1
17                        EMBRAER       299
18                 FRIEDEMANN JON         1
19           GULFSTREAM AEROSPACE         2
20             HURLEY JAMES LARRY         1
21                    JOHN G HESS         1
22                   KILDALL GARY         1
23                LAMBERT RICHARD         1
24                    LEARJET INC         1
25                LEBLANC GLENN T         1
26                     MARZ BARRY         1
27              MCDONNELL DOUGLAS       120
28  MCDONNELL DOUGLAS AIRCRAFT CO       103
29  MCDONNELL DOUGLAS CORPORATION        14
30                    PAIR MIKE E         1
31                          PIPER         5
32         ROBINSON HELICOPTER CO         1
33                       SIKORSKY         1
34                   STEWART MACO         2

In [31]:
pd.read_sql_query('SELECT manufacturer, COUNT(*) FROM planes GROUP BY manufacturer HAVING COUNT(*) > 10',con)

                    manufacturer  COUNT(*)
0                         AIRBUS       336
1               AIRBUS INDUSTRIE       400
2                         BOEING      1630
3                 BOMBARDIER INC       368
4                        EMBRAER       299
5              MCDONNELL DOUGLAS       120
6  MCDONNELL DOUGLAS AIRCRAFT CO       103
7  MCDONNELL DOUGLAS CORPORATION        14

In [32]:
new = pd.DataFrame(planes.groupby(planes.manufacturer).size()).reset_index().rename({0: "COUNT(*)"}, axis=1)
new[new['COUNT(*)'] >10]

                     manufacturer  COUNT(*)
1                          AIRBUS       336
2                AIRBUS INDUSTRIE       400
9                          BOEING      1630
10                 BOMBARDIER INC       368
17                        EMBRAER       299
27              MCDONNELL DOUGLAS       120
28  MCDONNELL DOUGLAS AIRCRAFT CO       103
29  MCDONNELL DOUGLAS CORPORATION        14

In [33]:
pd.read_sql_query('SELECT manufacturer, COUNT(*) FROM planes WHERE seats > 200 GROUP BY manufacturer HAVING COUNT(*) > 10',con)

  manufacturer  COUNT(*)
0       AIRBUS        66
1       BOEING       225

In [34]:
pd.read_sql_query('SELECT manufacturer, COUNT(*) AS howmany FROM planes GROUP BY manufacturer ORDER BY howmany',con)

                     manufacturer  howmany
0                      AGUSTA SPA        1
1              AVIAT AIRCRAFT INC        1
2          AVIONS MARCEL DASSAULT        1
3                   BARKER JACK L        1
4                    CANADAIR LTD        1
5              CIRRUS DESIGN CORP        1
6                     DEHAVILLAND        1
7                         DOUGLAS        1
8                  FRIEDEMANN JON        1
9              HURLEY JAMES LARRY        1
10                    JOHN G HESS        1
11                   KILDALL GARY        1
12                LAMBERT RICHARD        1
13                    LEARJET INC        1
14                LEBLANC GLENN T        1
15                     MARZ BARRY        1
16                    PAIR MIKE E        1
17         ROBINSON HELICOPTER CO        1
18                       SIKORSKY        1
19          AMERICAN AIRCRAFT INC        2
20                          BEECH        2
21                           BELL        2
22           GULFSTREAM AEROSPACE        2
23                   STEWART MACO        2
24                          PIPER        5
25                       CANADAIR        9
26                         CESSNA        9
27  MCDONNELL DOUGLAS CORPORATION       14
28  MCDONNELL DOUGLAS AIRCRAFT CO      103
29              MCDONNELL DOUGLAS      120
30                        EMBRAER      299
31                         AIRBUS      336
32                 BOMBARDIER INC      368
33               AIRBUS INDUSTRIE      400
34                         BOEING     1630

In [35]:
new = planes.groupby(planes.manufacturer).size().reset_index()

In [36]:
new.rename({0:"howmany"},axis=1).sort_values(['howmany'],ascending=False).reset_index(drop=True)

                     manufacturer  howmany
0                          BOEING     1630
1                AIRBUS INDUSTRIE      400
2                  BOMBARDIER INC      368
3                          AIRBUS      336
4                         EMBRAER      299
5               MCDONNELL DOUGLAS      120
6   MCDONNELL DOUGLAS AIRCRAFT CO      103
7   MCDONNELL DOUGLAS CORPORATION       14
8                          CESSNA        9
9                        CANADAIR        9
10                          PIPER        5
11           GULFSTREAM AEROSPACE        2
12                   STEWART MACO        2
13                           BELL        2
14          AMERICAN AIRCRAFT INC        2
15                          BEECH        2
16                   CANADAIR LTD        1
17                LEBLANC GLENN T        1
18                       SIKORSKY        1
19         ROBINSON HELICOPTER CO        1
20                    PAIR MIKE E        1
21             AVIAT AIRCRAFT INC        1
22         AVIONS MARCEL DASSAULT        1
23                  BARKER JACK L        1
24                     MARZ BARRY        1
25                    LEARJET INC        1
26             CIRRUS DESIGN CORP        1
27                LAMBERT RICHARD        1
28                   KILDALL GARY        1
29                    JOHN G HESS        1
30             HURLEY JAMES LARRY        1
31                 FRIEDEMANN JON        1
32                        DOUGLAS        1
33                    DEHAVILLAND        1
34                     AGUSTA SPA        1

In [37]:
pd.read_sql_query('SELECT * FROM planes WHERE year >= 2012 ORDER BY year, seats',con)

,index,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,1564,N537JB,2012.0,Rotorcraft,ROBINSON HELICOPTER CO,R66,1,5,None,Turbo-shaft
1,815,N348JB,2012.0,Fixed wing multi engine,EMBRAER,ERJ 190-100 IGW,2,20,None,Turbo-fan
2,825,N351JB,2012.0,Fixed wing multi engine,EMBRAER,ERJ 190-100 IGW,2,20,None,Turbo-fan
3,837,N353JB,2012.0,Fixed wing multi engine,EMBRAER,ERJ 190-100 IGW,2,20,None,Turbo-fan
4,2630,N8301J,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
5,2631,N8302F,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
6,2633,N8305E,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
7,2634,N8306H,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
8,2635,N8307K,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
9,2636,N8308K,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
10,2637,N8309C,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
11,2642,N8310C,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
12,2643,N8311Q,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
13,2644,N8312C,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
14,2645,N8313F,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
15,2646,N8314L,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
16,2647,N8315C,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
17,2648,N8316H,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
18,2649,N8317M,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
19,2650,N8318F,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
20,2651,N8319F,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
21,2656,N8320J,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
22,2657,N8321D,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
23,2658,N8322X,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
24,2659,N8323C,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
25,2660,N8324A,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
26,2661,N8325D,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
27,2662,N8326F,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
28,2663,N8327A,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
29,2664,N8328A,2012.0,Fixed wing multi engine,BOEING,737-8H4,2,140,None,Turbo-fan
...,...,...,...,...,...,...,...,...,...,...
157,230,N156UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,None,Turbo-fan
158,233,N157UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,None,Turbo-fan
159,418,N198UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,None,Turbo-fan
160,421,N199UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,None,Turbo-fan
161,2618,N827JB,2013.0,Fixed wing multi engine,AIRBUS,A320-232,2,200,None,Turbo-fan
162,2623,N828JB,2013.0,Fixed wing multi engine,AIRBUS,A320-232,2,200,None,Turbo-fan
163,2675,N834JB,2013.0,Fixed wing multi engine,AIRBUS,A320-232,2,200,None,Turbo-fan
164,1147,N409AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
165,1160,N413AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
166,1173,N419AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
167,1184,N423AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
168,1207,N431AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
169,1214,N433AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
170,1223,N435AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
171,1241,N440AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
172,1248,N442AS,2013.0,Fixed wing multi engine,BOEING,737-990ER,2,222,None,Turbo-fan
173,1083,N390HA,2013.0,Fixed wing multi engine,AIRBUS,A330-243,2,377,None,Turbo-fan
174,1088,N391HA,2013.0,Fixed wing multi engine,AIRBUS,A330-243,2,377,None,Turbo-fan
175,1092,N392HA,2013.0,Fixed wing multi engine,AIRBUS,A330-243,2,377,None,Turbo-fan
176,1096,N393HA,2013.0,Fixed wing multi engine,AIRBUS,A330-243,2,377,None,Turbo-fan
177,1110,N395HA,2013.0,Fixed wing multi engine,AIRBUS,A330-243,2,377,None,Turbo-fan
178,1696,N567UW,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan
179,1702,N568UW,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan
180,1707,N569UW,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan
181,1713,N570UW,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan
182,1718,N571UW,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan
183,1719,N572UW,2013.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A321-231,2,379,None,Turbo-fan
184,2919,N903JB,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan
185,2945,N907JB,2013.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A321-231,2,379,None,Turbo-fan
186,2982,N913JB,2013.0,Fixed wing multi engine,AIRBUS,A321-231,2,379,None,Turbo-fan

In [38]:
# Wybierz 100 losowych wierszy z airports
airports.sample(100)

,faa,name,lat,lon,alt,tz,dst,tzone
1135,RCA,Ellsworth Afb,44.145042,-103.103567,3279,-7,A,America/Denver
614,HRO,Boone Co,36.261519,-93.154728,1365,-6,A,America/Chicago
310,CMX,Houghton County Memorial Airport,47.168400,-88.489100,1095,-5,A,America/New_York
1276,SUE,Door County Cherryland Airport,44.843667,-87.421556,725,-6,U,America/Chicago
648,IGM,Kingman Airport,35.259500,-113.938000,3449,-7,A,America/Phoenix
577,HBR,Hobart Muni,34.991308,-99.051353,1564,-6,A,America/Chicago
1323,TOC,Toccoa RG Letourneau Field Airport,34.592812,-83.296372,996,-5,A,America/New_York
354,DAY,James M Cox Dayton Intl,39.902375,-84.219375,1009,-5,A,America/New_York
1252,SNY,Sidney Muni Airport,41.101670,-102.985000,4313,-7,A,America/Denver
168,AZO,Kalamazoo,42.234875,-85.552058,874,-5,A,America/New_York
222,BOI,Boise Air Terminal,43.564361,-116.222861,2871,-7,A,America/Denver
489,FLO,Florence Rgnl,34.185361,-79.723889,146,-5,A,America/New_York
780,LEB,Lebanon Municipal Airport,43.626100,-72.304200,603,-5,A,America/New_York
852,MCO,Orlando Intl,28.429394,-81.308994,96,-5,A,America/New_York
332,CVG,Cincinnati Northern Kentucky Intl,39.048836,-84.667822,896,-5,A,America/New_York
40,3J1,Ridgeland Airport,32.493417,-80.991750,79,-5,A,America/New_York
1426,X39,Tampa North Aero Park,28.221278,-82.374555,68,-5,A,America/New_York
561,GSO,Piedmont Triad,36.097750,-79.937306,925,-5,A,America/New_York
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
656,ILI,Iliamna,59.754356,-154.910961,186,-9,A,America/Anchorage
1076,PIA,Peoria Regional,40.664203,-89.693258,660,-6,A,America/Chicago
305,CLS,Chehalis-Centralia,46.406200,-122.589700,177,-8,A,America/Los_Angeles
1003,OCF,International Airport,29.172500,-82.224167,89,-5,A,America/New_York
1027,ORF,Norfolk Intl,36.894611,-76.201222,26,-5,A,America/New_York
1430,XNA,NW Arkansas Regional,36.281869,-94.306811,1287,-6,A,America/Chicago
585,HGR,Hagerstown Regional Richard A Henson Field,39.707900,-77.729500,704,-5,A,America/New_York
432,ELI,Elim Airport,64.615000,-162.270556,162,-9,A,America/Anchorage
696,JLN,Joplin Rgnl,37.151814,-94.498269,981,-6,A,America/Chicago
1451,ZTF,Stamford Amtrak Station,41.046937,-73.541493,0,-5,A,America/New_York
756,KYK,Karuluk Airport,57.566944,-154.450278,137,-9,A,America/Anchorage
...,...,...,...,...,...,...,...,...
1310,TKF,Truckee-Tahoe Airport,39.320042,-120.139563,5900,-8,A,America/Los_Angeles
1065,PFN,Panama City Bay Co Intl,30.212083,-85.682806,20,-6,A,America/Chicago
510,FTW,Fort Worth Meacham Intl,32.819778,-97.362444,710,-6,A,America/Chicago
539,GIF,Gilbert Airport,28.062778,-81.753333,145,-5,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1359,UST,St. Augustine Airport,29.959167,-81.339722,10,-5,A,America/New_York
871,MHK,Manhattan Reigonal,39.140972,-96.670833,1057,-6,A,America/Chicago
783,LFI,Langley Afb,37.082881,-76.360547,11,-5,A,America/New_York
484,FIT,Fitchburg Municipal Airport,42.554111,-71.758972,348,-5,A,America/New_York
1054,PBI,Palm Beach Intl,26.683161,-80.095589,19,-5,A,America/New_York
657,ILM,Wilmington Intl,34.270615,-77.902569,32,-5,A,America/New_York
203,BKC,Buckland Airport,65.981667,-161.149167,31,-9,A,America/Anchorage
54,4I7,Putnam County Airport,39.633556,-86.813806,842,-5,U,America/New_York
1082,PIR,Pierre Regional Airport,44.382700,-100.286000,1742,-6,A,America/Chicago
1366,VAD,Moody Afb,30.967833,-83.193000,233,-5,A,America/New_York
1207,SDY,Sidney-Richland Municipal Airport,47.706944,-104.192500,1984,-7,A,America/Denver
460,EWR,Newark Liberty Intl,40.692500,-74.168667,18,-5,A,America/New_York
631,HXD,Hilton Head Airport,32.224361,-80.697472,19,-5,A,America/New_York
1073,PHN,St Clair Co Intl,42.910957,-82.528862,650,-5,A,America/New_York
300,CLC,Clear Lake Metroport,29.556900,-95.137497,35,-6,A,America/Chicago
936,MWC,Lawrence J Timmerman Airport,43.110389,-88.034417,745,-6,A,America/Chicago
1190,SBD,San Bernardino International Airport,34.095352,-117.234872,1159,-8,A,America/Los_Angeles
1253,SOP,Moore County Airport,35.237611,-79.388796,455,-5,A,America/New_York
596,HLN,Helena Rgnl,46.606806,-111.982750,3877,-7,A,America/Denver
495,FNL,Fort Collins Loveland Muni,40.451828,-105.011336,5016,-7,A,America/Denver
1000,OBE,County,27.265833,-80.851111,34,-5,A,America/New_York
1093,PNM,Princeton Muni,45.559868,-93.608217,979,-6,A,America/Chicago
1092,PNE,Northeast Philadelphia,40.081944,-75.010586,121,-5,A,America/New_York
703,JVL,Southern Wisconsin Regional Airport,42.620250,-89.041556,808,-6,A,America/Chicago
384,DRM,Drummond Island Airport,46.009311,-83.743934,668,-5,A,America/New_York

In [39]:
airports.sample(frac=0.05)

,faa,name,lat,lon,alt,tz,dst,tzone
1353,UES,Waukesha County Airport,43.041028,-88.237056,911,-6,A,America/Chicago
441,ENV,Wendover,40.718694,-114.030889,4237,-7,A,America/Denver
688,JCI,New Century AirCenter Airport,38.830917,-94.890306,1087,-6,A,America/Chicago
630,HWO,North Perry,26.001222,-80.240722,8,-5,A,America/New_York
1325,TOL,Toledo,41.586806,-83.807833,684,-5,A,America/New_York
1117,PUW,Pullman-Moscow Rgnl,46.743861,-117.109583,2556,-8,A,America/Los_Angeles
1327,TPA,Tampa Intl,27.975472,-82.533250,26,-5,A,America/New_York
289,CHS,Charleston Afb Intl,32.898647,-80.040528,45,-5,A,America/New_York
773,LBF,North Platte Regional Airport Lee Bird Field,41.126200,-100.684000,2776,-6,A,America/Chicago
273,CEC,Del Norte County Airport,41.780200,-124.237000,57,-8,A,America/Los_Angeles
266,CDI,Cambridge Municipal Airport,39.975028,-81.577583,799,-5,U,America/New_York
96,ADM,Ardmore Muni,34.300833,-97.008889,762,-6,A,America/Chicago
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5,A,America/New_York
935,MWA,Williamson Country Regional Airport,37.754957,-89.011094,472,-6,A,America/Chicago
252,C16,Frasca Field,40.144979,-88.200197,735,-6,A,America/Chicago
949,N69,Stormville Airport,41.576971,-73.732351,358,-5,A,America/New_York
106,AGS,Augusta Rgnl At Bush Fld,33.369944,-81.964500,144,-5,A,America/New_York
1029,ORI,Port Lions Airport,57.885278,-152.846111,52,-9,A,America/Anchorage
1054,PBI,Palm Beach Intl,26.683161,-80.095589,19,-5,A,America/New_York
202,BJI,Bemidji Regional Airport,47.510722,-94.934722,1391,-6,A,America/Chicago
457,EWB,New Bedford Regional Airport,41.676100,-70.956900,80,-5,A,America/New_York
67,6S2,Florence,43.982817,-124.111369,51,-8,A,America/Los_Angeles
103,AFW,Fort Worth Alliance Airport,32.987778,-97.318889,722,-6,A,America/Chicago
1176,RWI,Rocky Mount Wilson Regional Airport,35.856300,-77.891900,159,-5,A,America/New_York
732,KMY,Moser Bay Seaplane Base,57.025556,-154.145833,0,-9,A,America/Anchorage
848,MCI,Kansas City Intl,39.297606,-94.713905,1026,-6,A,America/Chicago
157,AUG,Augusta State,44.320647,-69.797317,352,-5,A,America/New_York
49,4A9,Isbell Field Airport,34.473694,-85.721389,877,-6,A,America/Chicago
656,ILI,Iliamna,59.754356,-154.910961,186,-9,A,America/Anchorage
411,ECA,Iosco County,44.311000,-83.422000,606,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
113,AKC,Akron Fulton Intl,41.037500,-81.466917,1067,-5,A,America/New_York
552,GPZ,Grand Rapids Itasca County,47.211111,-93.509722,413,-6,A,America/Chicago
260,CBE,Greater Cumberland Rgnl.,39.615278,-78.760556,775,-5,A,America/New_York
1089,PML,Port Moller Airport,56.006111,-160.560833,20,-9,A,America/Anchorage
275,CEM,Central Airport,65.573889,-144.780833,937,-9,A,America/Anchorage
141,APG,Phillips Aaf,39.466219,-76.168808,57,-5,A,America/New_York
142,APN,Alpena County Regional Airport,45.078100,-83.560300,689,-5,A,America/New_York
556,GRI,Central Nebraska Regional Airport,40.967500,-98.309600,1847,-6,A,America/Chicago
1114,PTU,Platinum,59.011356,-161.819664,15,-9,A,America/Anchorage
918,MRY,Monterey Peninsula,36.587000,-121.842944,257,-8,A,America/Los_Angeles
614,HRO,Boone Co,36.261519,-93.154728,1365,-6,A,America/Chicago
221,BNA,Nashville Intl,36.124472,-86.678194,599,-6,A,America/Chicago
1382,VPC,Cartersville Airport,34.123147,-84.848707,759,-5,A,America/New_York
1401,WIH,Wishram Amtrak Station,45.657600,-120.966400,1,-8,A,America/Los_Angeles
278,CEZ,Cortez Muni,37.303000,-108.628056,5918,-7,A,America/Denver
629,HWD,Hayward Executive Airport,37.658889,-122.121667,52,-8,A,America/Los_Angeles
1075,PHX,Phoenix Sky Harbor Intl,33.434278,-112.011583,1135,-7,N,America/Phoenix
717,KCQ,Chignik Lake Airport,56.255000,-158.775278,50,-9,A,America/Anchorage
198,BIS,Bismarck Municipal Airport,46.775842,-100.757931,1661,-6,A,America/Chicago
119,ALI,Alice Intl,27.740889,-98.026944,178,-6,A,America/Chicago
131,ANN,Annette Island,55.042436,-131.572233,119,-9,A,America/Anchorage
1147,RIC,Richmond Intl,37.505167,-77.319667,167,-5,A,America/New_York
330,CTJ,West Georgia Regional Airport - O V Gray Field,33.631696,-85.152264,1165,-5,A,America/New_York
1000,OBE,County,27.265833,-80.851111,34,-5,A,America/New_York
402,E25,Wickenburg Municipal Airport,33.968899,-112.799004,2377,-7,A,America/Phoenix
305,CLS,Chehalis-Centralia,46.406200,-122.589700,177,-8,A,America/Los_Angeles
1121,PWK,Chicago Executive,42.114290,-87.901538,647,-6,A,America/Chicago
1317,TMB,Kendall Tamiami Executive,25.647889,-80.432777,8,-5,A,America/New_York
542,GKY,Arlington Municipal,32.663861,-97.094278,628,-6,A,America/Chicago
237,BUF,Buffalo Niagara Intl,42.940525,-78.732167,724,-5,A,America/New_York

In [40]:
airports.head(100)

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
5,0A9,Elizabethton Municipal Airport,36.371222,-82.173417,1593,-5,A,America/New_York
6,0G6,Williams County Airport,41.467306,-84.506778,730,-5,A,America/New_York
7,0G7,Finger Lakes Regional Airport,42.883565,-76.781232,492,-5,A,America/New_York
8,0P2,Shoestring Aviation Airfield,39.794824,-76.647191,1000,-5,U,America/New_York
9,0S9,Jefferson County Intl,48.053809,-122.810644,108,-8,A,America/Los_Angeles
10,0W3,Harford County Airport,39.566838,-76.202403,409,-5,A,America/New_York
11,10C,Galt Field Airport,42.402889,-88.375111,875,-6,U,America/Chicago
12,17G,Port Bucyrus-Crawford County Airport,40.781556,-82.974806,1003,-5,A,America/New_York
13,19A,Jackson County Airport,34.175864,-83.561597,951,-5,U,America/New_York
14,1A3,Martin Campbell Field Airport,35.015806,-84.346833,1789,-5,A,America/New_York
15,1B9,Mansfield Municipal,42.000133,-71.196771,122,-5,A,America/New_York
16,1C9,Frazier Lake Airpark,54.013333,-124.768333,152,-8,A,America/Vancouver
17,1CS,Clow International Airport,41.695974,-88.129231,670,-6,U,America/Chicago
18,1G3,Kent State Airport,41.151389,-81.415111,1134,-5,A,America/New_York
19,1G4,Grand Canyon West Airport,35.899904,-113.815674,4813,-7,A,America/Phoenix
20,1H2,Effingham Memorial Airport,39.070000,-88.534000,585,-6,A,America/Chicago
21,1OH,Fortman Airport,40.555325,-84.386619,885,-5,U,America/New_York
22,1RL,Point Roberts Airpark,48.979722,-123.078889,10,-8,A,America/Los_Angeles
23,23M,Clarke CO,32.051700,-88.443400,320,-6,A,America/Chicago
24,24C,Lowell City Airport,42.953920,-85.343906,681,-5,A,America/New_York
25,24J,Suwannee County Airport,30.300125,-83.024694,104,-5,A,America/New_York
26,25D,Forest Lake Airport,45.247746,-92.994385,925,-6,A,America/Chicago
27,29D,Grove City Airport,41.146028,-80.167750,1371,-5,A,America/New_York
28,2A0,Mark Anton Airport,35.486250,-84.931083,718,-5,A,America/New_York
29,2B2,Plum Island Airport,42.795361,-70.839444,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
70,70N,Spring Hill Airport,41.347357,-75.415897,1729,-5,A,America/New_York
71,7A4,Foster Field,42.466444,-90.169389,990,-6,A,America/Chicago
72,7D9,Germack Airport,41.777832,-80.903980,820,-5,A,America/New_York
73,7N7,Spitfire Aerodrome,39.735563,-75.397721,40,-5,A,America/New_York
74,8M8,Garland Airport,44.806528,-84.276194,1218,-5,A,America/New_York
75,93C,Richland Airport,43.283358,-90.298282,742,-6,A,America/Chicago
76,99N,Bamberg County Airport,33.304528,-81.108417,231,-5,A,America/New_York
77,9A1,Covington Municipal Airport,33.632308,-83.847447,809,-5,A,America/New_York
78,9A5,Barwick Lafayette Airport,34.688479,-85.290332,777,-5,A,America/New_York
79,9G1,Rock Airport,40.603546,-79.826119,1063,-5,A,America/New_York
80,A39,Phoenix Regional Airport,32.991699,-111.920998,1300,-7,A,America/Phoenix
81,A50,Colorado Springs East,38.870000,-104.410000,6145,-7,A,America/Denver
82,AAF,Apalachicola Regional Airport,29.727607,-85.027442,20,-5,A,America/New_York
83,AAP,Andrau Airport,29.430000,-95.350000,80,-6,A,America/Chicago
84,ABE,Lehigh Valley Intl,40.652083,-75.440806,393,-5,A,America/New_York
85,ABI,Abilene Rgnl,32.411319,-99.681897,1791,-6,A,America/Chicago
86,ABL,Ambler Airport,67.106389,-157.857500,334,-9,A,America/Anchorage
87,ABQ,Albuquerque International Sunport,35.040222,-106.609194,5355,-7,A,America/Denver
88,ABR,Aberdeen Regional Airport,45.449100,-98.421800,1302,-6,A,America/Chicago
89,ABY,Southwest Georgia Regional Airport,31.535500,-84.194500,197,-5,A,America/New_York
90,ACJ,Jimmy Carter Regional,32.066500,-84.113300,468,-5,A,America/New_York
91,ACK,Nantucket Mem,41.253053,-70.060181,48,-5,A,America/New_York
92,ACT,Waco Rgnl,31.611289,-97.230519,516,-6,A,America/Chicago
93,ACV,Arcata,40.978111,-124.108611,221,-8,A,America/Los_Angeles
94,ACY,Atlantic City Intl,39.457583,-74.577167,75,-5,A,America/New_York
95,ADK,Adak Airport,51.878000,-176.646000,18,-9,A,America/Anchorage
96,ADM,Ardmore Muni,34.300833,-97.008889,762,-6,A,America/Chicago
97,ADQ,Kodiak,57.749967,-152.493856,78,-9,A,America/Anchorage
98,ADS,Addison,32.968559,-96.836448,644,-6,A,America/Chicago
99,ADW,Andrews Afb,38.810806,-76.867028,280,-5,A,America/New_York

In [41]:
A = airports.loc[0:9]
B = airports.loc[5:14]

In [42]:
A

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
5,0A9,Elizabethton Municipal Airport,36.371222,-82.173417,1593,-5,A,America/New_York
6,0G6,Williams County Airport,41.467306,-84.506778,730,-5,A,America/New_York
7,0G7,Finger Lakes Regional Airport,42.883565,-76.781232,492,-5,A,America/New_York
8,0P2,Shoestring Aviation Airfield,39.794824,-76.647191,1000,-5,U,America/New_York
9,0S9,Jefferson County Intl,48.053809,-122.810644,108,-8,A,America/Los_Angeles

In [43]:
B

,faa,name,lat,lon,alt,tz,dst,tzone
5,0A9,Elizabethton Municipal Airport,36.371222,-82.173417,1593,-5,A,America/New_York
6,0G6,Williams County Airport,41.467306,-84.506778,730,-5,A,America/New_York
7,0G7,Finger Lakes Regional Airport,42.883565,-76.781232,492,-5,A,America/New_York
8,0P2,Shoestring Aviation Airfield,39.794824,-76.647191,1000,-5,U,America/New_York
9,0S9,Jefferson County Intl,48.053809,-122.810644,108,-8,A,America/Los_Angeles
10,0W3,Harford County Airport,39.566838,-76.202403,409,-5,A,America/New_York
11,10C,Galt Field Airport,42.402889,-88.375111,875,-6,U,America/Chicago
12,17G,Port Bucyrus-Crawford County Airport,40.781556,-82.974806,1003,-5,A,America/New_York
13,19A,Jackson County Airport,34.175864,-83.561597,951,-5,U,America/New_York
14,1A3,Martin Campbell Field Airport,35.015806,-84.346833,1789,-5,A,America/New_York

In [44]:
pd.read_sql_query('SELECT * FROM A UNION SELECT * FROM B',con)

DatabaseError: Execution failed on sql 'SELECT * FROM A UNION SELECT * FROM B': no such table: B

In [45]:
# SELECT * FROM A UNION SELECT * FROM B
A.merge(B,how='outer').shape

(15, 8)

In [46]:
# SELECT * FROM A UNION ALL SELECT * FROM B
A.append(B).shape

(20, 8)

In [47]:
# SELECT * FROM A INTERSECT SELECT * FROM B
inner = A.merge(B,how='inner')
inner

,faa,name,lat,lon,alt,tz,dst,tzone
0,0A9,Elizabethton Municipal Airport,36.371222,-82.173417,1593,-5,A,America/New_York
1,0G6,Williams County Airport,41.467306,-84.506778,730,-5,A,America/New_York
2,0G7,Finger Lakes Regional Airport,42.883565,-76.781232,492,-5,A,America/New_York
3,0P2,Shoestring Aviation Airfield,39.794824,-76.647191,1000,-5,U,America/New_York
4,0S9,Jefferson County Intl,48.053809,-122.810644,108,-8,A,America/Los_Angeles

In [48]:
# SELECT * FROM A EXCEPT SELECT * FROM B
left = A.merge(B,how='left', indicator=True)
left[left._merge=='left_only']

,faa,name,lat,lon,alt,tz,dst,tzone,_merge
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York,left_only
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago,left_only
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago,left_only
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York,left_only
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York,left_only

In [49]:
right = A.merge(B,how='right', indicator=True)
right[left._merge=='right_only']

Empty DataFrame
Columns: [faa, name, lat, lon, alt, tz, dst, tzone, _merge]
Index: []

In [51]:
A[~A.isin(B)].dropna()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044.0,-5.0,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264.0,-6.0,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801.0,-6.0,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523.0,-5.0,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11.0,-5.0,A,America/New_York

In [50]:
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
5,N105UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
6,N107US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
7,N108UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
8,N109UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
9,N110UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
10,N11106,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
11,N11107,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
12,N11109,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
13,N11113,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
14,N11119,2002.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
15,N11121,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
16,N11127,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
17,N11137,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
18,N11140,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
19,N11150,2003.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
20,N11155,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
21,N11164,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
22,N11165,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
23,N11176,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
24,N11181,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
25,N11184,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
26,N11187,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
27,N11189,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
28,N11191,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
29,N11192,2005.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3292,N984DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3293,N985AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3294,N985DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3295,N986AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3296,N986DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3297,N987AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3298,N987DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3299,N988AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3300,N988DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3301,N989AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3302,N989DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3303,N990AT,2001.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3304,N990DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3305,N991AT,NaN,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3306,N991DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3307,N992AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3308,N992DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3309,N993AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3310,N993DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3311,N994AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3312,N994DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3313,N995AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3314,N995DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3315,N996AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3316,N996DL,1991.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3318,N997DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3320,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3321,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet

# 2 dzien

In [58]:
movies = pd.read_csv('ml-1m/movies.dat',sep='::', engine='python', names=['MovieID','Title','Genres'])
users = pd.read_csv('ml-1m/users.dat',sep='::', engine='python', names=['UserID','Gender','Age','Occupation','Zip-code'])
ratings = pd.read_csv('ml-1m/ratings.dat',sep='::', engine='python', names=['UserID','MovieID','Rating','Timestamp'])

In [60]:
movies

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [65]:
movies['Year'] = movies.Title.str.slice(-5,-1).astype(int)

In [66]:
movies

,MovieID,Title,Genres,Year
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
5,6,Heat (1995),Action|Crime|Thriller,1995
6,7,Sabrina (1995),Comedy|Romance,1995
7,8,Tom and Huck (1995),Adventure|Children's,1995
8,9,Sudden Death (1995),Action,1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995
10,11,"American President, The (1995)",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,1995
12,13,Balto (1995),Animation|Children's,1995
13,14,Nixon (1995),Drama,1995
14,15,Cutthroat Island (1995),Action|Adventure|Romance,1995
15,16,Casino (1995),Drama|Thriller,1995
16,17,Sense and Sensibility (1995),Drama|Romance,1995
17,18,Four Rooms (1995),Thriller,1995
18,19,Ace Ventura: When Nature Calls (1995),Comedy,1995
19,20,Money Train (1995),Action,1995
20,21,Get Shorty (1995),Action|Comedy|Drama,1995
21,22,Copycat (1995),Crime|Drama|Thriller,1995
22,23,Assassins (1995),Thriller,1995
23,24,Powder (1995),Drama|Sci-Fi,1995
24,25,Leaving Las Vegas (1995),Drama|Romance,1995
25,26,Othello (1995),Drama,1995
26,27,Now and Then (1995),Drama,1995
27,28,Persuasion (1995),Romance,1995
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi,1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama,1995
...,...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi,1959
3854,3924,Pajama Party (1964),Comedy,1964
3855,3925,Stranger Than Paradise (1984),Comedy,1984
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi,1961
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi,1966
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror,1948
3859,3929,"Bank Dick, The (1940)",Comedy,1940
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror,1954
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi,1959
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi,1933
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi,1959
3864,3934,Kronos (1957),Sci-Fi,1957
3865,3935,Kronos (1973),Horror,1973
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller,1943
3867,3937,Runaway (1984),Sci-Fi|Thriller,1984
3868,3938,"Slumber Party Massacre, The (1982)",Horror,1982
3869,3939,"Slumber Party Massacre II, The (1987)",Horror,1987
3870,3940,"Slumber Party Massacre III, The (1990)",Horror,1990
3871,3941,Sorority House Massacre (1986),Horror,1986
3872,3942,Sorority House Massacre II (1990),Horror,1990
3873,3943,Bamboozled (2000),Comedy,2000
3874,3944,Bootmen (2000),Comedy|Drama,2000
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's,2000
3876,3946,Get Carter (2000),Action|Drama|Thriller,2000
3877,3947,Get Carter (1971),Thriller,1971
3878,3948,Meet the Parents (2000),Comedy,2000
3879,3949,Requiem for a Dream (2000),Drama,2000
3880,3950,Tigerland (2000),Drama,2000
3881,3951,Two Family House (2000),Drama,2000
3882,3952,"Contender, The (2000)",Drama|Thriller,2000

In [69]:
movies.Title.str.extract(r'\(\d{4}\)$')

ValueError: pattern contains no capture groups

In [71]:
movies['Title'] = movies.Title.str.slice(0,-6)

In [72]:
movies

,MovieID,Title,Genres,Year
0,1,Toy Story,Animation|Children's|Comedy,1995
1,2,Jumanji,Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama,1995
4,5,Father of the Bride Part II,Comedy,1995
5,6,Heat,Action|Crime|Thriller,1995
6,7,Sabrina,Comedy|Romance,1995
7,8,Tom and Huck,Adventure|Children's,1995
8,9,Sudden Death,Action,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
10,11,"American President, The",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It,Comedy|Horror,1995
12,13,Balto,Animation|Children's,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Drama|Thriller,1995
16,17,Sense and Sensibility,Drama|Romance,1995
17,18,Four Rooms,Thriller,1995
18,19,Ace Ventura: When Nature Calls,Comedy,1995
19,20,Money Train,Action,1995
20,21,Get Shorty,Action|Comedy|Drama,1995
21,22,Copycat,Crime|Drama|Thriller,1995
22,23,Assassins,Thriller,1995
23,24,Powder,Drama|Sci-Fi,1995
24,25,Leaving Las Vegas,Drama|Romance,1995
25,26,Othello,Drama,1995
26,27,Now and Then,Drama,1995
27,28,Persuasion,Romance,1995
28,29,"City of Lost Children, The",Adventure|Sci-Fi,1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao),Drama,1995
...,...,...,...,...
3853,3923,Return of the Fly,Horror|Sci-Fi,1959
3854,3924,Pajama Party,Comedy,1964
3855,3925,Stranger Than Paradise,Comedy,1984
3856,3926,Voyage to the Bottom of the Sea,Adventure|Sci-Fi,1961
3857,3927,Fantastic Voyage,Adventure|Sci-Fi,1966
3858,3928,Abbott and Costello Meet Frankenstein,Comedy|Horror,1948
3859,3929,"Bank Dick, The",Comedy,1940
3860,3930,"Creature From the Black Lagoon, The",Horror,1954
3861,3931,"Giant Gila Monster, The",Horror|Sci-Fi,1959
3862,3932,"Invisible Man, The",Horror|Sci-Fi,1933
3863,3933,"Killer Shrews, The",Horror|Sci-Fi,1959
3864,3934,Kronos,Sci-Fi,1957
3865,3935,Kronos,Horror,1973
3866,3936,"Phantom of the Opera, The",Drama|Thriller,1943
3867,3937,Runaway,Sci-Fi|Thriller,1984
3868,3938,"Slumber Party Massacre, The",Horror,1982
3869,3939,"Slumber Party Massacre II, The",Horror,1987
3870,3940,"Slumber Party Massacre III, The",Horror,1990
3871,3941,Sorority House Massacre,Horror,1986
3872,3942,Sorority House Massacre II,Horror,1990
3873,3943,Bamboozled,Comedy,2000
3874,3944,Bootmen,Comedy|Drama,2000
3875,3945,Digimon: The Movie,Adventure|Animation|Children's,2000
3876,3946,Get Carter,Action|Drama|Thriller,2000
3877,3947,Get Carter,Thriller,1971
3878,3948,Meet the Parents,Comedy,2000
3879,3949,Requiem for a Dream,Drama,2000
3880,3950,Tigerland,Drama,2000
3881,3951,Two Family House,Drama,2000
3882,3952,"Contender, The",Drama|Thriller,2000

In [73]:
movies.shape

(3883, 4)

In [74]:
len(movies)

3883

In [89]:
movies[movies.Title.duplicated()]

,MovieID,Title,Genres,Year
903,915,Sabrina,Comedy|Romance,1954
945,957,"Scarlet Letter, The",Drama,1926
1323,1344,Cape Fear,Film-Noir|Thriller,1962
1433,1460,That Darn Cat!,Children's|Comedy|Mystery,1997
1804,1873,"Misrables, Les",Drama,1998
1872,1941,Hamlet,Drama,1948
1990,2059,"Parent Trap, The",Children's|Drama,1998
2009,2078,"Jungle Book, The",Animation|Children's|Comedy|Musical,1967
2016,2085,101 Dalmatians,Animation|Children's,1961
2066,2135,Doctor Dolittle,Adventure|Musical,1967
2067,2136,"Nutty Professor, The",Comedy,1963
2143,2212,"Man Who Knew Too Much, The",Thriller,1934
2295,2364,Godzilla (Gojira),Action|Sci-Fi,1984
2298,2367,King Kong,Action|Adventure|Horror,1976
2320,2389,Psycho,Crime|Horror|Thriller,1998
2329,2398,Miracle on 34th Street,Drama,1947
2361,2430,Mighty Joe Young,Adventure|Children's|Drama,1949
2386,2455,"Fly, The",Horror|Sci-Fi,1986
2443,2512,"Ballad of Narayama, The (Narayama Bushiko)",Drama,1982
2484,2553,Village of the Damned,Horror|Sci-Fi|Thriller,1960
2492,2561,True Crime,Crime|Thriller,1999
2496,2565,"King and I, The",Musical,1956
2564,2633,"Mummy, The",Horror|Romance,1932
2565,2634,"Mummy, The",Horror,1959
2576,2645,Dracula,Horror,1958
2650,2719,"Haunting, The",Horror|Thriller,1999
2660,2729,Lolita,Drama,1962
2695,2764,"Thomas Crown Affair, The",Crime|Drama|Thriller,1968
2751,2820,Hamlet,Drama,1964
2779,2848,Othello,Drama,1952
2953,3022,"General, The",Comedy,1927
3027,3096,My Man Godfrey,Comedy,1957
3057,3126,"End of the Affair, The",Drama,1955
3335,3404,Titanic,Action|Drama,1953
3529,3598,Hamlet,Drama,2000
3547,3616,Loser,Comedy|Romance,2000
3654,3723,Hamlet,Drama,1990
3675,3744,Shaft,Action|Crime,2000
3715,3784,"Kid, The",Comedy,2000
3753,3823,Wonderland,Drama,1999
3865,3935,Kronos,Horror,1973
3877,3947,Get Carter,Thriller,1971

In [94]:
counts = movies.groupby('Title').size()
counts[counts>1]

Title
101 Dalmatians                                 2
Ballad of Narayama, The (Narayama Bushiko)     2
Cape Fear                                      2
Doctor Dolittle                                2
Dracula                                        2
End of the Affair, The                         2
Fly, The                                       2
General, The                                   2
Get Carter                                     2
Godzilla (Gojira)                              2
Hamlet                                         5
Haunting, The                                  2
Jungle Book, The                               2
Kid, The                                       2
King Kong                                      2
King and I, The                                2
Kronos                                         2
Lolita                                         2
Loser                                          2
Man Who Knew Too Much, The                     2
Mighty Joe Young                               2
Miracle on 34th Street                         2
Misrables, Les                                2
Mummy, The                                     3
My Man Godfrey                                 2
Nutty Professor, The                           2
Othello                                        2
Parent Trap, The                               2
Psycho                                         2
Sabrina                                        2
Scarlet Letter, The                            2
Shaft                                          2
That Darn Cat!                                 2
Thomas Crown Affair, The                       2
Titanic                                        2
True Crime                                     2
Village of the Damned                          2
Wonderland                                     2
dtype: int64

In [98]:
counts = movies.Title.value_counts()

In [99]:
counts[counts>1]

Hamlet                                         5
Mummy, The                                     3
Village of the Damned                          2
Miracle on 34th Street                         2
King and I, The                                2
Othello                                        2
Psycho                                         2
Godzilla (Gojira)                              2
True Crime                                     2
My Man Godfrey                                 2
Scarlet Letter, The                            2
End of the Affair, The                         2
Sabrina                                        2
Kid, The                                       2
Kronos                                         2
Fly, The                                       2
Jungle Book, The                               2
Dracula                                        2
Nutty Professor, The                           2
Man Who Knew Too Much, The                     2
Shaft                                          2
Doctor Dolittle                                2
Titanic                                        2
101 Dalmatians                                 2
Lolita                                         2
Parent Trap, The                               2
Mighty Joe Young                               2
Cape Fear                                      2
Loser                                          2
King Kong                                      2
Ballad of Narayama, The (Narayama Bushiko)     2
Thomas Crown Affair, The                       2
Misrables, Les                                2
Haunting, The                                  2
Get Carter                                     2
That Darn Cat!                                 2
General, The                                   2
Wonderland                                     2
Name: Title, dtype: int64

In [119]:
duplicats = movies[movies.Title.duplicated(keep=False)]
duplicats = duplicats.groupby('Title')['Year'].agg(['max', 'min'])
(duplicats['max'] - duplicats['min']).max()

79

In [120]:
movies.groupby('Year').size()

Year
1919      3
1920      2
1921      1
1922      2
1923      3
1925      6
1926      8
1927      6
1928      3
1929      3
1930      7
1931      7
1932      7
1933      7
1934      7
1935      6
1936      8
1937     11
1938      6
1939     11
1940     19
1941     11
1942     13
1943     10
1944     13
1945     11
1946     13
1947     14
1948     12
1949     10
       ...
1971     26
1972     22
1973     29
1974     28
1975     21
1976     21
1977     22
1978     30
1979     32
1980     41
1981     43
1982     50
1983     35
1984     60
1985     65
1986    104
1987     71
1988     69
1989     60
1990     77
1991     60
1992    102
1993    165
1994    257
1995    342
1996    345
1997    315
1998    337
1999    283
2000    156
Length: 81, dtype: int64

In [121]:
movies.Year.value_counts()

1996    345
1995    342
1998    337
1997    315
1999    283
1994    257
1993    165
2000    156
1986    104
1992    102
1990     77
1987     71
1988     69
1985     65
1991     60
1989     60
1984     60
1982     50
1981     43
1980     41
1983     35
1979     32
1978     30
1973     29
1974     28
1971     26
1963     25
1967     24
1972     22
1968     22
       ...
1944     13
1942     13
1966     12
1951     12
1948     12
1945     11
1941     11
1939     11
1937     11
1952     11
1943     10
1949     10
1926      8
1936      8
1934      7
1930      7
1932      7
1931      7
1933      7
1927      6
1938      6
1935      6
1925      6
1928      3
1919      3
1923      3
1929      3
1922      2
1920      2
1921      1
Name: Year, Length: 81, dtype: int64

In [128]:
pd.DataFrame(users.groupby(['Gender','Age']).size()).rename({0: 'COUNT'}, axis=1)

            COUNT
Gender Age
F      1       78
       18     298
       25     558
       35     338
       45     189
       50     146
       56     102
M      1      144
       18     805
       25    1538
       35     855
       45     361
       50     350
       56     278

In [132]:
pd.crosstab(users.Gender, users.Age, margins=True)

Age       1    18    25    35   45   50   56   All
Gender
F        78   298   558   338  189  146  102  1709
M       144   805  1538   855  361  350  278  4331
All     222  1103  2096  1193  550  496  380  6040

In [133]:
pd.crosstab(users.Gender, users.Age, normalize='all')

Age           1         18        25        35        45        50        56
Gender
F       0.012914  0.049338  0.092384  0.055960  0.031291  0.024172  0.016887
M       0.023841  0.133278  0.254636  0.141556  0.059768  0.057947  0.046026

In [135]:
pd.pivot_table(users['Gender','Age'],index=['Gender','Age'])

KeyError: ('Gender', 'Age')

In [151]:
splited = movies.Genres.str.split('|',expand=True)
splited.stack().reset_index().groupby(0).size()

0
Action          503
Adventure       283
Animation       105
Children's      251
Comedy         1200
Crime           211
Documentary     127
Drama          1603
Fantasy          68
Film-Noir        44
Horror          343
Musical         114
Mystery         106
Romance         471
Sci-Fi          276
Thriller        492
War             143
Western          68
dtype: int64

In [153]:
splited.stack().value_counts()

Drama          1603
Comedy         1200
Action          503
Thriller        492
Romance         471
Horror          343
Adventure       283
Sci-Fi          276
Children's      251
Crime           211
War             143
Documentary     127
Musical         114
Mystery         106
Animation       105
Fantasy          68
Western          68
Film-Noir        44
dtype: int64

In [154]:
movies.Genres.str.get_dummies(sep='|').sum()

Action          503
Adventure       283
Animation       105
Children's      251
Comedy         1200
Crime           211
Documentary     127
Drama          1603
Fantasy          68
Film-Noir        44
Horror          343
Musical         114
Mystery         106
Romance         471
Sci-Fi          276
Thriller        492
War             143
Western          68
dtype: int64

In [166]:
one = ratings.merge(movies)
one.groupby('Title')['Rating'].mean().sort_values(ascending=False)

Title
Ulysses (Ulisse)                                                   5.000000
Schlafes Bruder (Brother of Sleep)                                 5.000000
Smashing Time                                                      5.000000
Song of Freedom                                                    5.000000
Gate of Heavenly Peace, The                                        5.000000
Lured                                                              5.000000
Baby, The                                                          5.000000
Bittersweet Motel                                                  5.000000
Follow the Bitch                                                   5.000000
One Little Indian                                                  5.000000
I Am Cuba (Soy Cuba/Ya Kuba)                                       4.800000
Lamerica                                                           4.750000
Apple, The (Sib)                                                   4.666667
Sanjuro                                                            4.608696
Seven Samurai (The Magnificent Seven) (Shichinin no samurai)       4.560510
Shawshank Redemption, The                                          4.554558
Godfather, The                                                     4.524966
Close Shave, A                                                     4.520548
Usual Suspects, The                                                4.517106
Schindler's List                                                   4.510417
Wrong Trousers, The                                                4.507937
Skipped Parts                                                      4.500000
Bells, The                                                         4.500000
Inheritors, The (Die Siebtelbauern)                                4.500000
Dangerous Game                                                     4.500000
Callejn de los milagros, El                                       4.500000
Hour of the Pig, The                                               4.500000
Mamma Roma                                                         4.500000
Dry Cleaning (Nettoyage  sec)                                     4.500000
Sunset Blvd. (a.k.a. Sunset Boulevard)                             4.491489
                                                                     ...
Nueba Yol                                                          1.000000
Little Indian, Big City (Un indien dans la ville)                  1.000000
Blood Spattered Bride, The (La Novia Ensangrentada)                1.000000
Even Dwarfs Started Small (Auch Zwerge haben klein angefangen)     1.000000
Torso (Corpi Presentano Tracce di Violenza Carnale)                1.000000
Santa with Muscles                                                 1.000000
Bloody Child, The                                                  1.000000
Get Over It                                                        1.000000
Waltzes from Vienna                                                1.000000
Kestrel's Eye (Falkens ga)                                        1.000000
Hillbillys in a Haunted House                                      1.000000
Diebinnen                                                          1.000000
Lotto Land                                                         1.000000
Venice/Venice                                                      1.000000
Shadows (Cienie)                                                   1.000000
Silence of the Palace, The (Saimt el Qusur)                        1.000000
Uninvited Guest, An                                                1.000000
Underworld                                                         1.000000
McCullochs, The                                                    1.000000
Windows                                                            1.000000
Sleepover                                                          1.000000
White Boys                                                         1.000000
Terror in a Texas Town                                             1.000000
Wirey Spindell                                                     1.000000
Low Life, The                                                      1.000000
Mutters Courage                                                    1.000000
Loves of Carmen, The                                               1.000000
Fantastic Night, The (La Nuit Fantastique)                         1.000000
Elstree Calling                                                    1.000000
Cheetah                                                            1.000000
Name: Rating, Length: 3664, dtype: float64

In [182]:
one = ratings.merge(movies)
one.groupby('Title')['Rating'].agg(['size', 'mean']).sort_values(by='mean',ascending=False).query("size>100").head()

                                                    size      mean
Title
Seven Samurai (The Magnificent Seven) (Shichini...   628  4.560510
Shawshank Redemption, The                           2227  4.554558
Godfather, The                                      2223  4.524966
Close Shave, A                                       657  4.520548
Usual Suspects, The                                 1783  4.517106

In [205]:
one = ratings.merge(users)
two = one.groupby(['MovieID','Gender'])['Rating'].agg(['size', 'mean']).sort_values(by='mean',ascending=False).reset_index().query('size>100')
pd.merge(movies, two, left_on='MovieID', right_index=True).drop_duplicates(subset="Gender")

,MovieID,MovieID_x,Title,Genres,Year,MovieID_y,Gender,size,mean
49,50,50,"Usual Suspects, The",Crime|Thriller,1995,745,F,180,4.644444
56,57,57,Home for the Holidays,Drama,1995,858,M,1740,4.583333

In [211]:
oceny_users_movies = pd.merge(pd.merge(ratings,users), movies)
oceny_users_movies.groupby('Age').Year.mean()

Age
1     1988.981699
18    1989.701982
25    1987.972972
35    1984.965478
45    1983.500520
50    1982.483211
56    1981.549097
Name: Year, dtype: float64

In [213]:
import tqdm

In [ ]:
for i in tqdm.tqdm_notebook(range(15)):
    n = 4000
    a = np.random.uniform(0,1,(n, n))
    b = np.random.uniform(0,1,(n, n))
    c = a @ b

HBox(children=(IntProgress(value=0, max=15), HTML(value='')))