In [ ]:
header = ['a','b', 'c']

In [ ]:
{k:v for k,v in enumerate(header)}

In [ ]:
data = [888, 77,44]

In [ ]:
{k:v for k,v in zip(header, data)}

In [ ]:
DATA = [
    '5.8,2.7,5.1,1.9,virginica',
    '5.1,3.5,1.4,0.2,setosa',
    '5.7,2.8,4.1,1.3,versicolor',
]

output = [row.split(',') for row in DATA]

print(output)

In [ ]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

In [ ]:
# header, *data = INPUT
header = INPUT[0]
data = INPUT[1:]

In [ ]:
pivot = len(data) * 0.6
pivot = int(pivot)

In [ ]:
features = [tuple(features) for *features,labels in data ]
X_train = features[:pivot]
X_test = features[pivot:]

In [ ]:
labels = [labels for *features,labels in data ]
y_test = labels[pivot:]
y_tain = labels[:pivot]

In [ ]:
#features_train = [tuple(X) for X in features[:pivot]]
features_train = [tuple(X) for num, X in enumerate(features) if num > pivot]

In [ ]:
#features_test = [tuple(X) for X in features[pivot:]]
features_test = [tuple(X) for num, X in enumerate(features) if num < pivot]

In [ ]:
labels_train = [tuple(X) for num, X in enumerate(labels) if num > pivot]

In [ ]:
labels_test = [tuple(X) for num, X in enumerate(labels) if num < pivot]

In [ ]:
OUTPUT = X_train, X_test,y_tain,y_test

In [ ]:
'''

        Poproś użytkownika o wprowadzenie wieku

        Jeżeli użytkownik ma więcej niż 18 lat

        Wyrzuć wyjątek PermissionError z komunikatem "Only for kids"

'''
adult = 18


age = input('Podaj wiek: ')
if int(age) > adult:
    raise PermissionError('Only for kids')

In [ ]:
'''

        Poproś użytkownika o wprowadzenie temperatury w Kelwinach

        Przekonwertuj temperaturę do float

        Wypisz "Invalid temperature" jak nie można rzutować do float

        Wypisz temperaturę

'''

kelwin = input('Podaj temperatue w kelwinach:')

try:
    kelwin = float(kelwin)
except Exception:
    print('Invalid temperature', str(kelwin))

In [ ]:
'''

        Poproś użytkownika o wprowadzenie temperatury w Kelwinach

        Użytkownik zawsze poda poprawne int lub float

        Zdefiniuj wyjątek dla temperatur ujemnych

        Podnieś własny wyjątek jeżeli temperatura jest poniżej 0

'''
class belowZeroError(Exception):
    pass



kelwin = input('Podaj temperatue w kelwinach:')


kelwin = float(kelwin)
if kelwin < 0:
    raise belowZeroError('below 0')

In [ ]:
'''


        Ściągnij data/iris.csv i zapisz jako iris.csv

        Zdefiniuj:

                features: List[tuple] - lista pomiarów (każdy wiersz to tuple)

                labels: List[str] - lista nazw gatunków

        Dla każdej linii:

                Usuń białe znaki

                Podziel linię po przecinku ,

                Dodaj pomiary do features

                Dodaj gatunek do labels

        Wyświetl features i labels

'''
FILE = r'./iris.csv'
features, labels = [],[]
with open(FILE, encoding='utf-8') as file:
        header = file.readline()
        for line in file.readlines():
            splited = line.split(',')
            features.append(splited[:-1])
            labels.append(splited[-1])

In [ ]:
'''

        Skopiuj dane wejściowe z listingu poniżej i zapisz do pliku hosts.txt

        Dla każdej lini w pliku:

                Usuń białe znaki na początku i końcu linii

                Podziel linię po białych znakach

                Odseparuj adres IP i nazwy hostów

                Dodaj adres IP i nazwy hostów do OUTPUT

        Scal nazwy hostów dla tego samego IP


'''
IP = ''
FILE = r'host.txt'
OUTPUT = {'a': ['a']}
with open(FILE) as file:
    for line in file:
        print(line.strip().split()[0])
        
        IP, *host = line.strip().split()
        print(OUTPUT)
        OUTPUT[IP] = host
        break
print(OUTPUT)

In [ ]:
def hello():
    '''

        Zdefiniuj funkcję hello

        Wypisz Ehlo World! na ekranie

        Wywołaj funkcję trzy razy

'''
    print('Ehlo World!')

    
hello()

In [ ]:
hello?

In [ ]:
def add(a,b):
    return a+b

suma = add(100.3, 200)
print(suma)

In [ ]:
def divide(a,b):
    '''

        Zdefiniuj funkcję divide

        Funkcja przyjmuje dwa argumenty

        Funkcja zwraca wynik dzielenia jej argumentów

        Wywołaj funkcję z divide(10, 3)

        Wywołaj funkcję z divide(10, 0)

        Wypisz zwracane wartości

        Co zrobić w przypadku błędu?

'''

    try:
        div = a/b
        return div
    except ZeroDivisionError:
        print("Dzielenie przez zero nie dozwolone")
    
print(divide(10,3))
print(divide(10,0))

In [ ]:
def power(a, b=None):
    
    '''

        Zdefiniuj funkcję power

        Funkcja przyjmuje dwa argumenty

        Drugi argument jest opcjonalny

        Funkcja zwraca wynik pierwszego argumentu do potęgi drugiego

        Jeżeli tylko jeden argument był podany, przyjmij drugi równy pierwszemu

        Wypisz zwracane wartości

'''
    if b == None:
        return a**a
    else:
        return a**b

power(10, 2)
power(3)

In [ ]:
def clear(text):
    '''

        Dla danych wejściowych (patrz sekcja input)

        Napisz funkcję czyszczącą dane

        Funkcja przyjmuje jeden argument typu str

        Funkcja zwraca oczyszczony tekst

'''
    text = text.upper()
    text = text.replace('UL.', '')
    text = text.replace('\t', '')
    text = text.replace('3', 'III')
    text = text.title()
    text = text.replace('Iii', 'III')
    text = text.strip()    
    
    return text

In [ ]:
INPUT = [
    'ul.Mieszka II',
    'UL. Zygmunta III WaZY',
    '  bolesława chrobrego ',
    'ul Jana III SobIESkiego',
    '\tul. Jana trzeciego Sobieskiego',
    'ulicaJana III Sobieskiego',
    'UL. JA    NA 3 SOBIES  KIEGO',
    'ULICA JANA III SOBIESKIEGO  ',
    'ULICA. JANA III SOBIeskieGO',
    ' Jana 3 Sobieskiego  ',
    'Jana III Sobi  eskiego ',
]

print(clear(INPUT[0]))

In [ ]:
def number_text(number):
    dictionery = { '0': "zero",'1': "one",'2': "two",'3': "tree",'4': "fower",'5': "fife",'6': "six",'7': "seven",
                  '8': "ait",'9': "niner", '-': 'minus', '.': 'and' }

    return ' '.join(dictionery[char] for char in str(number))

In [ ]:
number_text(31337)

In [ ]:
number_text(-31.337)

In [ ]:
globals()

In [ ]:
locals()

In [ ]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
]
data = INPUT[1:]

wanted = {'sentosa','versicolor'}
for *X,y  in data:
    features, labels = X, y

In [ ]:
AGE_ADULT = 18

def is_adult(age):
    """
    Function checks if person is adult.
    Adult person is over 18 years old.

    >>> is_adult(18)
    True

    >>> is_adult(17.9)
    False
    """
    if age >= AGE_ADULT:
        return True
    else:
        return False

In [ ]:
def add_numbers(a,b):
    '''
    >>> add_numbers(1,0)
    1
    >>> add_numbers(-1,1)
    0
    >>> add_numbers(1.5, 5.5)
    7.0
    >>> add_numbers('a','b')
    Traceback (most recent call last):
        ...
    TypeError: A is not a number
    >>> add_numbers(True,0)
    Traceback (most recent call last):
        ...
    TypeError: A is not a number
    >>> add_numbers(2,True)
    Traceback (most recent call last):
        ...
    TypeError
    '''
    if type(a) not in (float, int):
        raise TypeError('A is not a number')
    if not isinstance(b, (float, int)):
        raise TypeError
    return a + b

import doctest
doctest.testmod()

In [ ]:
'''

        Napisz funkcję, która przeliczy dystans podany w kilometrach na metry

        1 km = 1000 m

        Dystans nie może być ujemny

        Zwracany dystans musi być float

        Napisz doctesty

'''

def distance(km):
    '''
    >>> distance(-1)
    Traceback (most recent call last):
        ...
    TypeError: Za malo
    >>> distance(0)
    0.0
    '''
    one_km = 1000.0
    if type(km) not in (float, int):
        raise TypeError
    if km < 0:
        raise TypeError('Za malo')
    return km * one_km

import doctest
doctest.testmod()

In [ ]:
from datetime import date

In [ ]:
d = date(1961,6,12)
print(d)

In [ ]:
d.isoweekday()

In [ ]:
d.weekday()

In [ ]:
from datetime import time
time()

In [ ]:
time.min

In [ ]:
date.today()

In [ ]:
import datetime

In [ ]:
now()

In [ ]:
czas = '1969-07-21T02:56:15.123Z'
format = '%Y-%m-%dT%H:%M:%S.%fZ'
date = datetime.datetime.strptime(czas, format)
print(date)

In [ ]:
gagarin = 'April 12, 1961 6:07 local time'
format = '%B %d, %Y %H:%M local time'
date = datetime.datetime.strptime(gagarin, format)
print(date)

In [ ]:
data = [1,23,16, 5, 8]

a = filter(lambda x: x % 2 == 0, data)
list(a)

In [ ]:
assert a == 2, "Komunikat"

In [ ]:
a = {1:'a',2: 'b'}

In [ ]:
'''

        Stwórz funkcję is_numeric

        Funkcja może przyjmować dowolną liczbę argumentów pozycyjnych

        Podawane argumenty mogą być dowolnego typu

        Zwróć True jeżeli wszystkie argumenty są tylko typów int lub float

        Zwróć False jeżeli którykolwiek jest innego typu

        Nie używaj all() oraz any()

        Porównaj użycie type() i isinstance() podając argument do funkcji True

        Uruchom funkcję bez podawania argumentów

'''

def is_numeric(*args):
    
    if len(args) == 0:
        return False

    for arg in args:
        if type(arg) not in (float, int):
            return False
    return True

is_numeric(1,2)

In [1]:
import re

In [15]:
'''

        Użyj wyrażeń regularnych do walidacji numeru telefonu

        Sprawdź wszystkie podane numery (patrz sekcja input)

        Poprawne formaty numeru: +## ### ### ### lub +## ## ### ####

'''
INPUT = [
'+48 (12) 355 5678',
'+48 123 555 678',
'123 555 678',
'+48 12 355 5678',
'+48 123-555-678',
'+48 123 555 6789',
'+1 (123) 555-6789',
'+1 (123).555.6789',
'+1 800-python',
'+48123555678',
'+48 123 555 678 wew. 1337',
'+48 123555678,1',
'+48 123555678,1,2,3']

PATTERN = r'^\+[0-9]{2} [0-9]{2,3} [0-9]{3} [0-9]{3,4}$'

phons = []
for tel in INPUT:
    if re.match(PATTERN, tel):
        phons.append(tel)

print(phons)

['+48 123 555 678', '+48 12 355 5678', '+48 123 555 6789']

In [19]:
PATTERN = r'\d+(\.\d*)?'
print(re.findall(PATTERN, '15.666'))

['.666']

In [20]:
'''

        Zdefiniuj klasę Astronaut

        Zdefiniuj klasę SpaceAgency

        Stwórz instancję twardowski klasy Astronaut

        Stwórz instancję watney klasy Astronaut

        Stwórz instancję nasa klasy SpaceAgency

        Stwórz instancję esa klasy SpaceAgency

        Stwórz instancję polsa klasy SpaceAgency

'''

class Astronaut:
    pass

class SpaceAgency:
    pass

twardowski = Astronaut()
watney = Astronaut()
nasa = SpaceAgency()
esa = SpaceAgency()
polsa = SpaceAgency()

In [23]:
'''

        Zamodeluj dane za pomocą klas

        Stwórz instancje dla każdego wpisu

        Jak wiele klas możemy wyróżnić?

        Jak wiele instancji możemy wyróżnić?

        Twórz instancje pierwszej klasy używając argumentów pozycyjnych

        Twórz instancje drugiej klasy używając argumentów nazwanych

        Wypisz pierwsze pole każdej z instancji

'''

'''
Jan, Twardowski, 1961-04-12
Mark, Watney, 1969-07-21
ESA, European Space Agency, Europe
NASA, National Aeronautics and Space Administration, USA
POLSA, Polish Space Agency, Poland
'''

class Astro:
    pass
class Agen:
    pass

twardowski = Astro()
twardowski.first_name = 'Jan'
twardowski.last_name = 'Twardowski'

watney = Astro()
watney.first_name = 'Mark'
watney.last_name = 'Watney'

esa = Agen()
esa.name = 'ESA'
esa.full_name = 'European Space Agency'
esa.country = 'Europe'

nasa = Agen()
nasa.name = 'NASA'
nasa.full_name = 'National Aeronautics and Space Administration'
nasa.country = 'USA'

polsa = Agen()
polsa.name = 'POLSA'
polsa.full_name = 'Polish Space Agency'
polsa.country = 'Polska'

In [30]:
'''

        Stwórz jedną klasę Temperature

        Stwórz trzy instancje klasy Temperature

        Wartości mają być podawane przy inicjalizacji

        Przy inicjalizacji instancje wypisują:

                Instancja celsius wyświetla temperaturę 36.6

                Instancja fahrenheit wyświetla temperaturę 97.88

                Instancja kelvin wyświetla temperaturę 309.75

'''

class Temperature:
    def __init__(self, temperature):
        
        print(temperature)

celsius = Temperature(36.6)
fahreheit = Temperature(97.88)
kelvin = Temperature(309.75)

36.6
97.88
309.75

In [36]:
'''


        Stwórz klasę Iris

        Napisz metodę total() wyliczającą sumę wszystkich atrybutów numerycznych obiektu

        Napisz metodę mean() wyliczającą średnią wszystkich atrybutów numerycznych obiektu (przyjmij długość równą 4)

        Stwórz obiekt setosa z pomiarami podawanymi przy inicjalizacji (patrz dane wejściowe)

        Stwórz obiekt virginica z pomiarami podawanymi przy inicjalizacji (patrz dane wejściowe)

        Wypisz nazwę gatunku oraz sumę i średnią z pomiarów dla każdej instancji

'''

class Iris:
    def __init__(self, sepal_length, sepal_width, petal_length, petal_width, species):
        self.sepal_length = sepal_length
        self.sepal_width = sepal_width
        self.petal_length = petal_length
        self.petal_width = petal_width
        self.species = species
        
    def total(self):
        return (self.sepal_length + self.sepal_width + self.petal_length +self.petal_width)
    
    def mean(self):
        return self.total()/4

setosa = Iris(5.1, 3.5, 1.4, 0.2, 'setosa')
virginica = Iris(5.8, 2.7, 5.1, 1.9,'virginica')

print(f'Name: {setosa.species}, total: {setosa.total()}, mean: {setosa.mean()}')
print(f'Name: {virginica.species}, total: {virginica.total()}, mean: {virginica.mean()}')

Name: setosa, total: 10.2, mean: 2.55
Name: virginica, total: 15.5, mean: 3.875