In [1]:
import pandas as pdimport numpy as np
import seaborn as sns

In [20]:
ramka1 = pd.DataFrame({"A": np.round(np.random.uniform(0,1,5), 2),
                      "B": ["k",None,"k","m","k"],
                       "C":[False,False,False,True, True]
})
ramka1

      A     B      C
0  0.72     k  False
1  0.46  None  False
2  0.09     k  False
3  0.39     m   True
4  0.30     k   True

In [3]:
len(ramka1)

5

In [4]:
flights = sns.load_dataset("flights")

In [5]:
tips = sns.load_dataset("tips")

In [6]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [7]:
flights.tail()

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [8]:
flights.dtypes

year             int64
month         category
passengers       int64
dtype: object

In [9]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
year          144 non-null int64
month         144 non-null category
passengers    144 non-null int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

In [10]:
ramka1["A"]

0    0.61
1    0.23
2    0.93
3    0.08
4    0.25
Name: A, dtype: float64

In [11]:
ramka1.A

0    0.61
1    0.23
2    0.93
3    0.08
4    0.25
Name: A, dtype: float64

In [12]:
ramka1.dtypes

A    float64
B     object
C       bool
dtype: object

In [21]:
ramka1.B = ramka1.B.astype("category")

In [22]:
ramka1.dtypes

A     float64
B    category
C        bool
dtype: object

In [33]:
inna_kategoryczna = pd.Series(pd.Categorical(("a","b","c","a"), ordered=True))
inna_kategoryczna

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a < b < c]

In [34]:
inna_kategoryczna.cat.add_categories("e")

0    a
1    b
2    c
3    a
dtype: category
Categories (4, object): [a < b < c < e]

In [36]:
inna_kategoryczna.sort_values()

0    a
3    a
1    b
2    c
dtype: category
Categories (3, object): [a < b < c]

In [37]:
ramka1.index

RangeIndex(start=0, stop=5, step=1)

In [38]:
ramka1.columns

Index(['A', 'B', 'C'], dtype='object')

In [39]:
ramka2 = ramka1.copy()

In [43]:
ramka2.index = ['a','c','s','w','a']

In [44]:
ramka2

      A    B      C
a  0.72    k  False
c  0.46  NaN  False
s  0.09    k  False
w  0.39    m   True
a  0.30    k   True

In [46]:
ramka2.reset_index()

  index     A    B      C
0     a  0.72    k  False
1     c  0.46  NaN  False
2     s  0.09    k  False
3     w  0.39    m   True
4     a  0.30    k   True

In [47]:
b = pd.Series(np.round(np.random.uniform(0,1,10),2))
i = np.r_[0:10]
np.random.shuffle(i)
b.index = i
b

2    0.16
1    0.90
5    0.24
3    0.20
0    0.13
9    0.51
7    0.35
8    0.64
4    0.97
6    0.76
dtype: float64

In [48]:
b[0:2]

2    0.16
1    0.90
dtype: float64

In [49]:
b[b>0.5]

1    0.90
9    0.51
8    0.64
4    0.97
6    0.76
dtype: float64

In [50]:
b[0]

0.13

In [52]:
b.iloc[0]

0.16

In [53]:
b.loc[0]

0.13

In [54]:
b.loc[5:7]

5    0.24
3    0.20
0    0.13
9    0.51
7    0.35
dtype: float64

In [55]:
ramka1["D"] = np.exp(ramka1.A)+1000
ramka1

      A    B      C            D
0  0.72    k  False  1002.054433
1  0.46  NaN  False  1001.584074
2  0.09    k  False  1001.094174
3  0.39    m   True  1001.476981
4  0.30    k   True  1001.349859

In [56]:
ramka1.loc[5] = [0,'m',False,1000]
ramka1

      A    B      C            D
0  0.72    k  False  1002.054433
1  0.46  NaN  False  1001.584074
2  0.09    k  False  1001.094174
3  0.39    m   True  1001.476981
4  0.30    k   True  1001.349859
5  0.00    m  False  1000.000000

In [57]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [60]:
tips.describe().min()

total_bill    3.0700
tip           1.0000
size          0.9511
dtype: float64

In [61]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [62]:
tips.describe(include='all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [63]:
tips.min()

total_bill      3.07
tip                1
sex           Female
smoker            No
day              Fri
time          Dinner
size               1
dtype: object

In [64]:
tips.std()

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

# Tabela przestawna

In [65]:
pd.pivot_table(tips[['smoker','total_bill','tip']], columns='smoker', aggfunc='count')

smoker      Yes   No
tip          93  151
total_bill   93  151

In [66]:
pd.pivot_table(tips[['smoker','total_bill','tip']], columns='smoker', aggfunc='size')

smoker
Yes     93
No     151
dtype: int64

In [67]:
pd.pivot_table(tips[['smoker','sex','day','time','total_bill','tip']], columns=['smoker','day'], index=['time','sex'])

                 tip                                                       \
smoker           Yes                                   No
day             Thur    Fri       Sat       Sun      Thur   Fri       Sat
time   sex
Lunch  Male    3.058  1.900       NaN       NaN  2.941500   NaN       NaN
       Female  2.990  2.660       NaN       NaN  2.437083  3.00       NaN
Dinner Male      NaN  3.246  2.879259  3.521333       NaN  2.50  3.256563
       Female    NaN  2.700  2.868667  3.500000  3.000000  3.25  2.724615

                        total_bill                                   \
smoker                         Yes
day                 Sun       Thur        Fri        Sat        Sun
time   sex
Lunch  Male         NaN  19.171000  11.386667        NaN        NaN
       Female       NaN  19.218571  13.260000        NaN        NaN
Dinner Male    3.115349        NaN  25.892000  21.837778  26.141333
       Female  3.329286        NaN  12.200000  20.266667  16.540000


smoker                No
day                 Thur     Fri        Sat        Sun
time   sex
Lunch  Male    18.486500     NaN        NaN        NaN
       Female  15.899167  15.980        NaN        NaN
Dinner Male          NaN  17.475  19.929063  20.403256
       Female  18.780000  22.750  19.003846  20.824286

In [72]:
flights.groupby('year').mean()

      passengers
year
1949  126.666667
1950  139.666667
1951  170.166667
1952  197.000000
1953  225.000000
1954  238.916667
1955  284.000000
1956  328.250000
1957  368.416667
1958  381.000000
1959  428.333333
1960  476.166667

In [75]:
tips.groupby(['day','smoker']).mean()

             total_bill       tip      size
day  smoker
Thur Yes      19.190588  3.030000  2.352941
     No       17.113111  2.673778  2.488889
Fri  Yes      16.813333  2.714000  2.066667
     No       18.420000  2.812500  2.250000
Sat  Yes      21.276667  2.875476  2.476190
     No       19.661778  3.102889  2.555556
Sun  Yes      24.120000  3.516842  2.578947
     No       20.506667  3.167895  2.929825

In [76]:
tips.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [77]:
pd.crosstab(tips.smoker, tips.sex)

sex     Male  Female
smoker
Yes       60      33
No        97      54

In [79]:
tips.sort_values("total_bill", ascending=False)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
102       44.30   2.50  Female    Yes   Sat  Dinner     3
197       43.11   5.00  Female    Yes  Thur   Lunch     4
142       41.19   5.00    Male     No  Thur   Lunch     5
184       40.55   3.00    Male    Yes   Sun  Dinner     2
95        40.17   4.73    Male    Yes   Fri  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
207       38.73   3.00    Male    Yes   Sat  Dinner     4
112       38.07   4.00    Male     No   Sun  Dinner     3
56        38.01   3.00    Male    Yes   Sat  Dinner     4
238       35.83   4.67  Female     No   Sat  Dinner     3
11        35.26   5.00  Female     No   Sun  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
52        34.81   5.20  Female     No   Sun  Dinner     4
180       34.65   3.68    Male    Yes   Sun  Dinner     4
179       34.63   3.55    Male    Yes   Sun  Dinner     2
141       34.30   6.70    Male     No  Thur   Lunch     6
175       32.90   3.11    Male    Yes   Sun  Dinner     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
83        32.68   5.00    Male    Yes  Thur   Lunch     2
47        32.40   6.00    Male     No   Sun  Dinner     4
173       31.85   3.18    Male    Yes   Sun  Dinner     2
167       31.71   4.50    Male     No   Sun  Dinner     4
39        31.27   5.00    Male     No   Sat  Dinner     3
187       30.46   2.00    Male    Yes   Sun  Dinner     5
44        30.40   5.60    Male     No   Sun  Dinner     4
..          ...    ...     ...    ...   ...     ...   ...
117       10.65   1.50  Female     No  Thur   Lunch     2
169       10.63   2.00  Female    Yes   Sat  Dinner     2
168       10.59   1.61  Female    Yes   Sat  Dinner     2
75        10.51   1.25    Male     No   Sat  Dinner     2
196       10.34   2.00    Male    Yes  Thur   Lunch     2
1         10.34   1.66    Male     No   Sun  Dinner     3
16        10.33   1.67  Female     No   Sun  Dinner     3
136       10.33   2.00  Female     No  Thur   Lunch     2
51        10.29   2.60  Female     No   Sun  Dinner     2
10        10.27   1.71    Male     No   Sun  Dinner     2
226       10.09   2.00  Female    Yes   Fri   Lunch     2
82        10.07   1.83  Female     No  Thur   Lunch     1
235       10.07   1.25    Male     No   Sat  Dinner     2
53         9.94   1.56    Male     No   Sun  Dinner     2
148        9.78   1.73    Male     No  Thur   Lunch     2
43         9.68   1.32    Male     No   Sun  Dinner     2
178        9.60   4.00  Female    Yes   Sun  Dinner     2
30         9.55   1.45    Male     No   Sat  Dinner     2
6          8.77   2.00    Male     No   Sun  Dinner     2
222        8.58   1.92    Male    Yes   Fri   Lunch     1
126        8.52   1.48    Male     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
145        8.35   1.50  Female     No  Thur   Lunch     2
218        7.74   1.44    Male    Yes   Sat  Dinner     2
195        7.56   1.44    Male     No  Thur   Lunch     2
149        7.51   2.00    Male     No  Thur   Lunch     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]

In [80]:
tips.sort_values(['size',"total_bill"], ascending=False)

     total_bill   tip     sex smoker   day    time  size
156       48.17  5.00    Male     No   Sun  Dinner     6
141       34.30  6.70    Male     No  Thur   Lunch     6
125       29.80  4.20  Female     No  Thur   Lunch     6
143       27.05  5.00  Female     No  Thur   Lunch     6
142       41.19  5.00    Male     No  Thur   Lunch     5
187       30.46  2.00    Male    Yes   Sun  Dinner     5
155       29.85  5.14  Female     No   Sun  Dinner     5
216       28.15  3.00    Male    Yes   Sat  Dinner     5
185       20.69  5.00    Male     No   Sun  Dinner     5
212       48.33  9.00    Male     No   Sat  Dinner     4
59        48.27  6.73    Male     No   Sat  Dinner     4
197       43.11  5.00  Female    Yes  Thur   Lunch     4
95        40.17  4.73    Male    Yes   Fri  Dinner     4
23        39.42  7.58    Male     No   Sat  Dinner     4
207       38.73  3.00    Male    Yes   Sat  Dinner     4
56        38.01  3.00    Male    Yes   Sat  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
85        34.83  5.17  Female     No  Thur   Lunch     4
52        34.81  5.20  Female     No   Sun  Dinner     4
180       34.65  3.68    Male    Yes   Sun  Dinner     4
47        32.40  6.00    Male     No   Sun  Dinner     4
167       31.71  4.50    Male     No   Sun  Dinner     4
44        30.40  5.60    Male     No   Sun  Dinner     4
219       30.14  3.09  Female    Yes   Sat  Dinner     4
116       29.93  5.07    Male     No   Sun  Dinner     4
77        27.20  4.00    Male     No  Thur   Lunch     4
7         26.88  3.12    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
54        25.56  4.34    Male     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
62        11.02  1.98    Male    Yes   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
117       10.65  1.50  Female     No  Thur   Lunch     2
169       10.63  2.00  Female    Yes   Sat  Dinner     2
168       10.59  1.61  Female    Yes   Sat  Dinner     2
75        10.51  1.25    Male     No   Sat  Dinner     2
196       10.34  2.00    Male    Yes  Thur   Lunch     2
136       10.33  2.00  Female     No  Thur   Lunch     2
51        10.29  2.60  Female     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
235       10.07  1.25    Male     No   Sat  Dinner     2
53         9.94  1.56    Male     No   Sun  Dinner     2
148        9.78  1.73    Male     No  Thur   Lunch     2
43         9.68  1.32    Male     No   Sun  Dinner     2
178        9.60  4.00  Female    Yes   Sun  Dinner     2
30         9.55  1.45    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
126        8.52  1.48    Male     No  Thur   Lunch     2
135        8.51  1.25  Female     No  Thur   Lunch     2
145        8.35  1.50  Female     No  Thur   Lunch     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
195        7.56  1.44    Male     No  Thur   Lunch     2
149        7.51  2.00    Male     No  Thur   Lunch     2
172        7.25  5.15    Male    Yes   Sun  Dinner     2
92         5.75  1.00  Female    Yes   Fri  Dinner     2
82        10.07  1.83  Female     No  Thur   Lunch     1
222        8.58  1.92    Male    Yes   Fri   Lunch     1
111        7.25  1.00  Female     No   Sat  Dinner     1
67         3.07  1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]

In [81]:
pd.date_range("2020-01-01", periods = 3)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range("2020-01-01", periods = 3, freq="12H")

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 12:00:00',
               '2020-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='12H')